@@include('../partials/head.html', { "title": "Coctail Bar" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="coctailBarPage">
  <section class="coctailBar">
    <h1 class="coctailBarTitle">Cocktail Bar</h1>
    <p class="coctailBarDescription">A world of possibility working with mixers, sodas, tastes and salt to create dry, sour, bitter and savoury drinks.</p>
    <div class="coctailBarTequilas">
      <button class="coctailBarTequilasItem" data-tequila="blanco">Tequila Blanco</button>
      <button class="coctailBarTequilasItem" data-tequila="anejo">Tequila Anejo</button>
      <button class="coctailBarTequilasItem" data-tequila="reposado">Tequila Reposado</button>
    </div>
  </section>
  <section class="coctailBarCoctails">
    <div class="swiper-container coctailBarCoctailsSlider">
      <div class="coctailBarCoctailsContainer swiper-wrapper">
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="blanco">
          <img src="../img/coctail/agavoni.png" alt="Agavoni" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Agavoni</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="blanco">
          <img src="../img/coctail/highball.png" alt="KAH Highball" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">KAH Highball</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="blanco">
          <img src="../img/coctail/batanga.png" alt="Batanga" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Batanga</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="anejo">
          <img src="../img/coctail/agavoni.png" alt="Agavoni" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Agavoni</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="anejo">
          <img src="../img/coctail/highball.png" alt="KAH Highball" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">KAH Highball</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="anejo">
          <img src="../img/coctail/batanga.png" alt="Batanga" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Batanga</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="reposado">
          <img src="../img/coctail/agavoni.png" alt="Agavoni" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Agavoni</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="reposado">
          <img src="../img/coctail/highball.png" alt="KAH Highball" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">KAH Highball</h4>
        </a>
        <a href="coctail.html" class="coctailBarItem swiper-slide" data-tequila="reposado">
          <img src="../img/coctail/batanga.png" alt="Batanga" class="coctailBarItemImage">
          <h4 class="coctailBarItemName">Batanga</h4>
        </a>
      </div>
    </div>
  </section>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')