@@include('../partials/head.html', { "title": "Single Coctail Page" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="coctailPage">
  <section class="coctailItem">
    <div class="coctailItemReceipt">
      <h4 class="coctailItemReceiptTitle">Bloody Juanita</h4>
      <img class="coctailItemImage coctailItemImage--mobile" src="../img/coctail/single-coctail.jpg" alt="Bloody Juanita">
      <div class="coctailItemReceiptItem coctailItemReceiptItem--first">
        <span class="coctailItemReceiptSubtitle">You need</span>
        <ul class="coctailItemReceiptList">
          <li class="coctailItemReceiptText">2 oz KAH Blanco Tequila</li>
          <li class="coctailItemReceiptText">3 ½ oz tomato juice</li>
          <li class="coctailItemReceiptText">½ oz fresh lime juice</li>
          <li class="coctailItemReceiptText">3 cherry tomatoes</li>
          <li class="coctailItemReceiptText">5 drops Jalapeño sauce</li>
          <li class="coctailItemReceiptText">10 drops Worchester sauce</li>
          <li class="coctailItemReceiptText">Salt & pepper to taste</li>
          <li class="coctailItemReceiptText">Coriander leaves</li> 
        </ul>
      </div>
      <div class="coctailItemReceiptItem coctailItemReceiptItem--last">
        <span class="coctailItemReceiptSubtitle">Preparations</span>
        <p class="coctailItemReceiptText">Blend all ingredients, serve on ice, garnish with Chamoy sauce and Tajin rim            
        </p>
      </div>
    </div>
    <img class="coctailItemImage coctailItemImage--desktop" src="../img/coctail/single-coctail.jpg" alt="Bloody Juanita">
  </section>
  <section class="coctailTaste">
    <div class="coctailTasteContainer">
      <div class="coctailTasteItems">
        <div class="coctailTasteItem">
          <img class="coctailTasteImage" src="../img/coctail/kah-soda-lime.jpg" alt="KAH Soda Lime">
          <h2 class="coctailTasteTitle">KAH Soda & Lime</h2>
        </div>
        <div class="coctailTasteItem">
          <img class="coctailTasteImage" src="../img/coctail/kah-kon-tiki.jpg" alt="KAH Kon Tiki">
          <h2 class="coctailTasteTitle">KAH-Kon-Tiki</h2>
        </div>
      </div>
    </div>
  </section>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')