@@include('../partials/head.html', { "title": "Contact" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="contactPage">
  <div class="contactContainer">
    <h1 class="contactTitle">Contacts</h1>
    <p class="contactDescription">Amber Beverage Group LLC and its affiliated companies
    </p>
  </div>
  <div class="contactItems">
    <div class="contactItemsContainer">
      <a href="https://www.google.ru/maps/place/Aleksandra+%C4%8Caka+iela+160,+Latgales+priek%C5%A1pils%C4%93ta,+R%C4%ABga,+LV-1012,+Latvia/@56.9640544,24.1508081,17z/data=!3m1!4b1!4m5!3m4!1s0x46eece492e7f1d57:0xe639a402fbd12954!8m2!3d56.9640544!4d24.1530021" class="contactItem">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
          <rect width="32" height="32" fill="#C4C4C4"/>
          </mask>
          <g mask="url(#mask0)">
          <path d="M16.9264 31C4.75966 23.6904 -0.26529 1.33106 16.0069 1.00293C30.9271 0.702053 28.2319 23.6904 16.9264 31Z" stroke="#FFA500" stroke-width="1.3"/>
          <path d="M19.2688 12.1931C19.2688 13.1238 18.889 14.1711 18.2595 14.9822C17.6276 15.7965 16.8202 16.2825 16.0068 16.2825C15.1933 16.2825 14.386 15.7965 13.754 14.9822C13.1245 14.1711 12.7447 13.1238 12.7447 12.1931C12.7447 10.365 14.211 8.89365 16.0068 8.89365C17.8025 8.89365 19.2688 10.365 19.2688 12.1931Z" stroke="#FFA500" stroke-width="1.3"/>
          </g>
        </svg>  
        <span>A. Caka str. 160, Riga, Latvia, LV1012</span>  
      </a>
      <a href="http://www.amberbev.com" class="contactItem">
        <svg width="32" height="34" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="17" r="15.35" stroke="#FFA500" stroke-width="1.3"/>
          <path d="M16.0817 1.08173C10.3946 6.57832 2.43274 20.6409 16.0817 32.9185" stroke="#FFA500" stroke-width="1.3"/>
          <path d="M16.0823 1.08173C21.7497 6.57832 29.6023 20.5593 16.0006 32.8368" stroke="#FFA500" stroke-width="1.3"/>
          <line y1="16.35" x2="32" y2="16.35" stroke="#FFA500" stroke-width="1.3"/>
        </svg>  
        <span>http://www.amberbev.com</span>
      </a>
    </div>
    <div class="contactItemsContainer">
      <a href="tel:+37167081213" class="contactItem">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
          <rect width="32" height="32" fill="#C4C4C4"/>
          </mask>
          <g mask="url(#mask0)">
          <path d="M25.465 31C4.01761 32 0.558405 13.6562 1.01966 6.625L4.01767 3.8125L7.01569 1C9.5986 3.25 11.4743 6.9375 12.0893 8.5L9.78309 11.3125C10.1521 18.0625 16.3941 21.625 19.469 22.5625L23.1589 19.75C26.4797 20.5 29.7699 23.8125 30.9998 25.375C29.1549 28.375 26.5412 30.375 25.465 31Z" stroke="#FFA500" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
        </svg>
        <span>+371 67081213</span>
      </a>
      <a href="mailto:office@amberbev.com" class="contactItem">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
          <rect width="32" height="32" fill="#C4C4C4"/>
          </mask>
          <g mask="url(#mask0)">
          <path d="M31.0022 9.51351H31.0021L31.0023 9.52565L31.35 28.1409C31.3484 28.7695 31.0862 29.6112 30.6405 30.2946C30.1786 31.003 29.6535 31.35 29.2174 31.35H3.47826C3.25183 31.35 2.95933 31.262 2.6231 31.0584C2.29188 30.8578 1.95481 30.5668 1.65144 30.221C1.02241 29.5041 0.65 28.6859 0.65 28.1351V9.86486C0.65 9.25657 0.934119 8.42867 1.46699 7.75269C1.99404 7.08409 2.6926 6.65 3.47826 6.65H27.8261C28.3645 6.65 29.1714 7.0229 29.8819 7.65891C30.6004 8.30213 31.0022 9.01725 31.0022 9.51351Z" stroke="#FFA500" stroke-width="1.3"/>
          <path d="M1.73926 7.625C5.4494 11.9583 13.4958 20.3813 16.0001 19.4062C18.5045 18.4312 26.0871 10.7396 29.9132 7.625" stroke="#FFA500" stroke-width="1.3"/>
          </g>
        </svg>
        <span>office@amberbev.com</span>
      </a>
    </div>
  </div>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')