@@include('../partials/head.html', { "title": "Day Of The Dead" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="dayOfTheDeadPage">
  <section class="dayOfTheDeadBanner">
    <div class="dayOfTheDeadBannerContainer">
      <h1 class="dayOfTheDeadTitle">Day Of The Dead</h1>
    </div>
    <a href="" class="dayOfTheDeadExplore">
      <svg width="8" height="52" viewBox="0 0 8 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 51C1.73613 48.1491 -1.43329 39.4211 4 27.3158C9.43329 15.2105 6.26387 4.72807 4 1" stroke="#FFA500"/>
      </svg>
      Explore  
    </a>
  </section>
  <section class="dayOfTheDeadMuertoss">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/dayOfTheDead/muertoss-m.jpg">
      <source media="(min-width: 769px)" srcset="../img/dayOfTheDead/muertoss.jpg">
      <img src="../img/dayOfTheDead/muertoss.jpg" alt="Muertoss" class="dayOfTheDeadMuertossImage">
    </picture>
    <div class="dayOfTheDeadMuertossInfo">
      <h2 class="dayOfTheDeadMuertossTitle">Día de los Muertoss</h2>
      <p class="dayOfTheDeadMuertossText">Day of the Dead, Día de los Muertos, is not, in fact, a morbid custom, nor is it only one day. Each year, in most countries that celebrate this 3,000 year-old Meso-American custom, it is divided between October 31st through November 2nd “KAH” translates to “life” in the ancient Mayan language, and DoD is, in fact, is a celebration of lives lived.  
      </p>
    </div>
  </section>
  <p class="dayOfTheDeadFestival">The multi-day festival brings together family and friends to pray for and remember those they have lost. The customs are based on the belief that mourning and sadness are an insult to the deceased, and therefore, the lives they lived should be celebrated with the food, drink and activities they enjoyed while still alive.</p>
  <section class="dayOfTheDeadAtmosphereContainer">
    <div class="dayOfTheDeadAtmosphere">
      <div class="dayOfTheDeadAtmosphereInfo">
        <h2 class="dayOfTheDeadAtmosphereTitle">Most common rituals </h2>
        <p class="dayOfTheDeadAtmosphereText dayOfTheDeadAtmosphereText--mt">During the festival, private altars (ofrendas) are adorned with decorative skeletal images (calaveras) or stand-alone skulls (also called “sugar skulls”) and typically festooned with the traditional holiday flower—marigolds. It is thought the golden yellow-orange flower can act as a beacon to guide lost souls to the altar put there by their loved ones. Personal photographs and other colorful ornamentation and mementos are also placed on the ofrendas. 
        </p>
      </div>
      <picture>
        <source media="(max-width: 768px)" srcset="../img/dayOfTheDead/atmosphere-m.jpg">
        <source media="(min-width: 769px)" srcset="../img/dayOfTheDead/atmosphere.jpg">
        <img src="../img/dayOfTheDead/atmosphere.jpg" alt="Atmosphere" class="dayOfTheDeadAtmosphereImage">
      </picture>
    </div>
    <div class="dayOfTheDeadAtmosphere dayOfTheDeadAtmosphere--reversed">
      <picture>
        <source media="(max-width: 768px)" srcset="../img/dayOfTheDead/salut-m.jpg">
        <source media="(min-width: 769px)" srcset="../img/dayOfTheDead/salut.jpg">
        <img src="../img/dayOfTheDead/salut.jpg" alt="Salut" class="dayOfTheDeadAtmosphereImage">
      </picture>
      <div class="dayOfTheDeadAtmosphereInfo">
        <p class="dayOfTheDeadAtmosphereText">Traditions and rituals vary in countries that celebrate Día de los Muertos, and can even differ within the same country. For instance, in Peru, La Diablada, the Dance of Satan (as depicted on KAH Reposado packaging), and only takes place in Puno. And in Bolivia, actual skulls are placed on ofrendas (as depicted in our Blanco packaging), and this ritual is held later, on November 8th. 
        </p>
        <h4 class="dayOfTheDeadAtmosphereSalut">¡Salut! </h4>
      </div>
    </div> 
  </section>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')