@@include('../partials/head.html', { "title": "FAQ" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="faqPage">
  <div class="faqContainer">
    <h1 class="faqTitle">FAQ</h1>
    <p class="faqDescription">Browse through the most frequently asked questions</p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">Where can I purchase KAH Tequila?
      </p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>           
      </button>
    </div>
    <p class="faqAnswer">List of online stores is available <a href="">here</a></p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">How can I contact you in case of questions?
      </p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">Feel free to reach out to the KAH Team: <a href="mailto:kahtequila@amberbev.com">kahtequila@amberbev.com</a></p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">Is KAH tequila Kosher?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">Yes, Fabrica de Tequilas Finos, where KAH is produced, has been certified by the Union of Orthodox Jewish Congregations of America. </p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">Where is KAH Tequila made?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">KAH Tequila is produced by Fabrica de Tequilas Finos, located in the town of Tequila in Jalisco, Mexico, at the foot of Tequila hill. </p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">What is the best way to drink tequila?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">KAH tequila is excellent in various cocktails (hyperlink to cocktail section), however we recommend enjoying it neat at room temperature to bring out the most of its aroma and taste.</p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">What is so special about 100% agave tequila?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">Only tequila made form 100% agave plants are allowed to use the term “100% agave” on the label, according to Mexican government regulation. If a tequila label doesn’t include this term, it means it contains only 51% of alcohol obtained from blue agave sugars and is mixed with other spirit, usually one obtained form sugarcanes. The 100% agave mark is a quality symbol only the best tequila brands are offering.</p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">What is the difference between blanco, silver, reposado, añejo and extra añejo types of tequila? </p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">The main difference between these types of tequila is the duration of maturation (or aging). Maturation plays a major role in shaping color as well as the flavors and aromas of tequilas.</p>
    <ul class="faqAnswerList">
      <li>Blanco (also known as “plata “or “silver”) is unaged tequila that is bottled right after distillation, or aged for less than two months in oak casks of unlimited size and then clarified before bottling.</li>
      <li>Reposado tequila is aged between two and eleven months in oak casks of unlimited size.</li>
      <li>Añejo tequila is aged between 12 and 36 months in oak casks with a maximum size of 600 liters. </li>
      <li>Extra Añejo is aged for more than 36 months.</li>
    </ul>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">Why is Day of the Dead celebrated for three days?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">Each of the Day of the Dead days honors different spirits. On October 31st, All Hallows Eve, the children make a children's altar to invite the angelitos (spirits of dead children) to come back for a visit.  November 1st is All Saints Day, dedicated for adult spirits. November 2nd is All Souls Day when the souls depart the earth.</p>
  </div>
  <div class="faqItem">
    <div class="faqQuestionContainer">
      <p class="faqQuestion">How can I know if KAH is truly a premium quality tequila?</p>
      <button class="faqArrow">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
        </svg>  
      </button>
    </div>
    <p class="faqAnswer">A good way to be sure of its quality is by the numerous awards it has received. </p>
    <p class="faqAnswer">KAH Blanco has received a Silver Medal from The Tequila Masters and 96-points from Beverage Tasting Institute.</p>
    <p class="faqAnswer">KAH Reposado received a Gold Medal from The Tequila Masters, 90-points from Beverage Tasting Institute, and 94-points from the Ultimate Spirits Challenge.</p>
    <p class="faqAnswer">KAH Añejo has received a Silver Medal from The Tequila Masters, 94-points from Beverage Tasting Institute, and 95-points from the Ultimate Spirits Challenge.</p>
    <p class="faqAnswer">KAH Tequila, inclusive of the entire series, won Best In Class, Platinum from the Spirits International Prestige Awards.</p>
  </div>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')