@@include('../partials/head.html', { "title": "Homepage" })
<main class="index">
  <div class="indexContainer">
    <h1>Site map</h1>
    <a href="homepage.html">Homepage</a>
    <a href="homepage-usa.html">Homepage: USA, Canada and Australia</a>
    <a href="tequila-reposado.html">Tequila Reposado</a>
    <a href="tequila-anejo.html">Tequila Anejo</a>
    <a href="tequila-blanco.html">Tequila Blanco</a>
    <a href="tequila-reposado-usa.html">Tequila Reposado: USA, Canada, etc.</a>
    <a href="tequila-anejo-usa.html">Tequila Anejo: USA, Canada, etc.</a>
    <a href="tequila-blanco-usa.html">Tequila Blanco: USA, Canada, etc.</a>
    <a href="coctail.html">Single Coctail Page</a>
    <a href="coctail-bar.html">Coctails</a>
    <a href="production.html">Production</a>
    <a href="day-of-the-dead.html">Day Of The Dead</a>
    <a href="faq.html">FAQ</a>
    <a href="contacts.html">Contacts</a>
    <a href="where-to-buy.html">Where to buy</a>
    <a href="text-page.html">Text page</a>
  </div>
</main>
</body>
</html>