@@include('../partials/head.html', { "title": "Production" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="productionPage">
  <section class="productionBanner">
    <div class="productionBannerContainer">
      <h1 class="productionTitle">Production</h1>
    </div>
    <div class="productionExploreContainer">
      <a href="" class="productionExplore">
        <svg width="8" height="52" viewBox="0 0 8 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 51C1.73613 48.1491 -1.43329 39.4211 4 27.3158C9.43329 15.2105 6.26387 4.72807 4 1" stroke="#FFA500"/>
        </svg>
        Explore  
      </a>
    </div>
  </section>
  <section class="productionFactory">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/production/factory-m.jpg">
      <source media="(min-width: 769px)" srcset="../img/production/factory.jpg">
      <img src="../img/production/factory.jpg" alt="Factory" class="productionFactoryImage">
    </picture>
    <div class="productionFactoryInfo">
      <h2 class="productionFactoryTitle">Fabrica de Tequilas Finos</h2>
      <p class="productionFactoryText">KAH Tequila is produced by Fabrica de Tequilas Finos, located in the town of Tequila in Jalisco, Mexico at the foot of Tequila hill. The area is officially a heritage of humanity site, as declared by UNESCO. Most of the people working at Finos have worked there since its establishment in 2000, and that includes KAH Tequila Master Distiller Arturo Fuentes, who has been dedicated to the production of alcoholic beverages for forty-five years. More than a decade ago he was part of the team that created KAH. 
      </p>
      <a href="" class="productionFactoryLearnMore">
        Learn more About our factory
        <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4.13208C2.19737 3.75477 5.86316 3.22653 10.9474 4.13208C16.0316 5.03763 20.4342 4.50939 22 4.13208" stroke="#FFA500" stroke-width="0.5"/>
          <path d="M27 4.38645C23.0816 4.51706 20.034 7.2708 19 8.63135L21.1224 4.38645L19.0051 0.640415C20.189 2.72486 24.8263 4.00605 27 4.38645Z" fill="#FFA500"/>
        </svg>  
      </a>
    </div>
  </section>
  <p class="productionSteps">Each step of the tequila making process—from preparation of the agave, aging in oak barrels, to filling into exceptional tailor-made bottles—is done in the traditional way, with a lot of passion and craftsmanship</p>
  <section class="productionCraftContainer">
    <div class="productionCraft">
      <div class="productionCraftInfo">
        <h2 class="productionCraftTitle">The craft of tequila-making</h2>
        <p class="productionCraftText productionCraftText--mt">The craft of KAH tequila-making starts with the agave plant. Tequila can only be distilled from a specific variety of agave plant—blue Weber agave (a.k.a. agave azul or agave tequilana). It takes at least 6 to 7 years for an agave plant to grow to maturity before it can be harvested.<br/><br/>
        Only the “heart” of the plant (piña) that accumulates sugars is used for tequila production. 
        </p>
      </div>
      <picture>
        <source media="(max-width: 768px)" srcset="../img/production/craft-m.jpg">
        <source media="(min-width: 769px)" srcset="../img/production/craft.jpg">
        <img src="../img/production/craft.jpg" alt="Craft" class="productionCraftImage">
      </picture>
    </div>
    <div class="productionCraft productionCraft--reversed">
      <picture>
        <source media="(max-width: 768px)" srcset="../img/production/plant-m.jpg">
        <source media="(min-width: 769px)" srcset="../img/production/plant.jpg">
        <img src="../img/production/plant.jpg" alt="Plant" class="productionCraftImage">
      </picture>
      <div class="productionCraftInfo">
        <p class="productionCraftText productionCraftText--mt">Planting, tending, and harvesting the agave plant remains a manual effort. The men who harvest agave (jimadores) have intimate knowledge of how the plants should be cultivated, passed down from generation to generation. At the moment of harvest piña weights between 70kg (110lb) to 110kg (240 lbs).  
        </p>
      </div>
    </div> 
  </section>
  <section class="productionTechnology">
    <div class="productionTechnologyContainer">
      <div class="productionTechnologyList">
        <div class="productionTechnologyListContainer productionTechnologyListContainer--first">
          <div class="productionTechnologyListItem productionTechnologyListItem--first">
            <span class="productionTechnologyStep">1</span>
            <div class="productionTechnologyInfo">
              <h4 class="productionTechnologySubtitle">COOKING</h4>
              <p class="productionTechnologyDescription">After harvesting, the piñas are transported to our facility, cut int 2 or 4 pieces and then slowly baked for approximately 9 hours. </p>
            </div>
          </div>
          <div class="productionTechnologyListItem productionTechnologyListItem--second">
            <span class="productionTechnologyStep">2</span>
            <div class="productionTechnologyInfo">
              <h4 class="productionTechnologySubtitle">EXTRACTION</h4>
              <p class="productionTechnologyDescription">Baked piñas are shredded to extract their sweet juice. </p>
            </div>
          </div>
        </div>
        <div class="productionTechnologyListContainer productionTechnologyListContainer--single">
          <div class="productionTechnologyListItem productionTechnologyListItem--third">
            <span class="productionTechnologyStep">3</span>
            <div class="productionTechnologyInfo">
              <h4 class="productionTechnologySubtitle">FERMENTATION</h4>
              <p class="productionTechnologyDescription">Yeast is added to the extracted agave juice and then poured into large stainless-steel tanks for several days to ferment, resulting in a wort with low alcohol content. </p>
            </div>
          </div>
        </div>
        <div class="productionTechnologyListContainer productionTechnologyListContainer--reversed">
          <div class="productionTechnologyListItem productionTechnologyListItem--fourth">
            <span class="productionTechnologyStep">4</span>
            <div class="productionTechnologyInfo">
              <h4 class="productionTechnologySubtitle">DISTILLATION</h4>
              <p class="productionTechnologyDescription">This wort is then distilled twice to produce clear blanco tequila. </p>
            </div>
          </div>
          <div class="productionTechnologyListItem productionTechnologyListItem--fifth">
            <span class="productionTechnologyStep">5</span>
            <div class="productionTechnologyInfo">
              <h4 class="productionTechnologySubtitle">AGING</h4>
              <p class="productionTechnologyDescription">After distillation, tequila is either bottled as blanco or rested in wooden barrels to develop mellower flavors and an amber color. Reposado is aged between 2 and 11 months, while añejo requires at least one year of maturation in maximum 600-liter oak casks. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <picture>
        <source media="(max-width: 900px)" srcset="../img/production/wave-m.png">
        <source media="(min-width: 1051px)" srcset="../img/production/wave.png">
        <img src="../img/production/wave.png" alt="wave" class="productionTechnologyWave">
      </picture> -->
    </div>
    <div class="productionTechnologyBackground">
      <div class="productionTechnologyBackgroundContainer productionTechnologyBackgroundContainer--first"></div>
      <div class="productionTechnologyBackgroundContainer productionTechnologyBackgroundContainer--second"></div>
      <div class="productionTechnologyBackgroundContainer productionTechnologyBackgroundContainer--third"></div>
      <div class="productionTechnologyBackgroundContainer productionTechnologyBackgroundContainer--fourth"></div>
      <div class="productionTechnologyBackgroundContainer productionTechnologyBackgroundContainer--fifth"></div>
    </div>
  </section>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')