@@include('../partials/head.html', { "title": "Tequila Blanco" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="tequilaPage tequilaPage--blanco">
  <section class="tequilaFirstScreen">
    <div class="tequilaFirstScreenContainer">
      <h1 class="tequilaFirstScreenTitle">Kah Tequila Blanco</h1>
      <div class="tequilaProduct">
        <div class="tequilaProductSize">
          <h4 class="tequilaProductSizeTitle">Select bottle size</h4>
          <div class="tequilaProductSizeItems">
            <button class="tequilaProductSizeItem active" data-size="07">0.7l</button>
            <button class="tequilaProductSizeItem" data-size="05">0.05l - mini</button>
          </div>
        </div>
        <picture>
          <source media="(max-width: 768px)" srcset="../img/tequila/flowers-m.png">
          <source media="(min-width: 769px)" srcset="../img/tequila/flowers.png">
          <img src="../img/tequila/flowers.png" alt="" class="tequilaProductFlowers tequilaProductFlowers--t-10">
        </picture>
        <div class="tequilaProductContainer tequilaProductContainer--mb40 swiper-container">
          <div class="swiper-wrapper">
            <picture class="tequilaProductImageContainer swiper-slide" data-size="07">
              <source media="(max-width: 768px)" srcset="../img/tequila/blanco-07-m.png">
              <source media="(min-width: 769px)" srcset="../img/tequila/blanco-07.png">
              <img class="tequilaProductImage tequilaProductImage--ml70" src="../img/tequila/blanco-07.png" alt="Tequila Blanco 0.7-skull">
            </picture>
            <picture class="tequilaProductImageContainer swiper-slide" data-size="05">
              <source media="(max-width: 768px)" srcset="../img/tequila/blanco-05-m.png">
              <source media="(min-width: 769px)" srcset="../img/tequila/blanco-05.png">
              <img class="tequilaProductImage tequilaProductImage--ml70" src="../img/tequila/blanco-05.png" alt="Tequila Blanco 0.5-mini">
            </picture>
          </div>
        </div>
      </div>
      <div class="tequilaFirstScreenOrderContainer">
        <p class="tequilaFirstScreenDescription">KAH Tequila Blanco is a double distilled, un-aged Tequila made from 100% Blue Agave and bottled at 40% ABV (80 proof).
        </p>
        <a href="" class="tequilaFirstScreenOrder">
          Order Now
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 3.50085C2.19737 3.12354 5.86316 2.59531 10.9474 3.50085C16.0316 4.4064 20.4342 3.87817 22 3.50085" stroke="#FFA500" stroke-width="0.5"/>
            <path d="M27 3.7551C23.0816 3.88571 20.034 6.63946 19 8L21.1224 3.7551L19.0051 0.00906706C20.189 2.09351 24.8263 3.3747 27 3.7551Z" fill="#FFA500"/>
          </svg>  
        </a>
      </div>
    </div>
  </section>
  <section class="tequilaStory">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/tequila/blanco-story-m.jpg">
      <source media="(min-width: 769px)" srcset="../img/tequila/blanco-story.jpg">
      <img src="../img/tequila/blanco-story.jpg" alt="Tequila Blanco Story" class="tequilaStoryImage">
    </picture>
    <div class="tequilaStoryInfo">
      <h2 class="tequilaStoryTitle">Inspired by tradition</h2>
      <p class="tequilaStoryText">The black bottle design is inspired by the Nicaraguan tradition of Day of the Dead. In Nicaragua, in addition to the standard traditions of building a shrine and gift-giving, many people linger and sleep in the graveyard. They believe that this act re-enforces the emotional connection between them and the deceased.
      </p>
    </div>
  </section>
  <section class="tequilaTaste">
    <h4 class="tequilaTasteTitle">Tasting notes</h4>
    <div class="tequilaTasteContainer">
      <picture>
        <source media="(max-width: 768px)" srcset="../img/tequila/peppery-spice-m.jpg">
        <source media="(min-width: 769px)" srcset="../img/tequila/peppery-spice.jpg">
        <img class="tequilaTasteImage" src="../img/tequila/peppery-spice.jpg" alt="Peppery Spice">
      </picture>
    </div>
  </section>
  <section class="tequilaCoctail">
    <div class="tequilaCoctailContainer">
      <div class="tequilaCoctailContent">
        <div class="tequilaCoctailReceipt">
          <h4 class="tequilaCoctailReceiptTitle">KAH-Kon-Tiki</h4>
          <div class="tequilaCoctailReceiptItem">
            <span class="tequilaCoctailReceiptSubtitle">You need</span>
            <ul class="tequilaCoctailReceiptList">
              <li class="tequilaCoctailReceiptText">2 oz KAH Blanco Tequila</li>
              <li class="tequilaCoctailReceiptText">½ oz Giffard Caribbean</li>
              <li class="tequilaCoctailReceiptText">½ oz Falernum syrup</li>
              <li class="tequilaCoctailReceiptText">3 ½ oz fresh grapefruit juice</li>
              <li class="tequilaCoctailReceiptText">1/3 oz Coconut pure</li>
              <li class="tequilaCoctailReceiptText">1/6 oz fresh lime juice</li>
              <li class="tequilaCoctailReceiptText">5 drops Angostura bitters</li>
            </ul>
          </div>
          <div class="tequilaCoctailReceiptItem">
            <span class="tequilaCoctailReceiptSubtitle">Preparations</span>
            <p class="tequilaCoctailReceiptText">Shake all ingredients and pour into a tiki mug filled with crushed ice.           
            </p>
          </div>
        </div>
        <a href="coctail-bar.html" class="tequilaCoctailShowCoctails tequilaCoctailShowCoctails--mobile">
          Show All Coctails  
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 3.50073C2.19737 3.12342 5.86316 2.59518 10.9474 3.50073C16.0316 4.40628 20.4342 3.87804 22 3.50073" stroke="#FFA500" stroke-width="0.5"/>
            <path d="M27 3.7551C23.0816 3.88571 20.034 6.63946 19 8L21.1224 3.7551L19.0051 0.00906706C20.189 2.09351 24.8263 3.3747 27 3.7551Z" fill="#FFA500"/>
          </svg>  
        </a>
        <picture>
          <source media="(max-width: 768px)" srcset="../img/tequila/blanco-coctail-m.jpg">
          <source media="(min-width: 769px)" srcset="../img/tequila/blanco-coctail.jpg">
          <img class="tequilaCoctailImage" src="../img/tequila/blanco-coctail.jpg" alt="Tequila Blanco Coctail">
        </picture>
      </div>
      <a href="coctail-bar.html" class="tequilaCoctailShowCoctails tequilaCoctailShowCoctails--desktop">
        Show All Coctails  
        <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 3.50073C2.19737 3.12342 5.86316 2.59518 10.9474 3.50073C16.0316 4.40628 20.4342 3.87804 22 3.50073" stroke="#FFA500" stroke-width="0.5"/>
          <path d="M27 3.7551C23.0816 3.88571 20.034 6.63946 19 8L21.1224 3.7551L19.0051 0.00906706C20.189 2.09351 24.8263 3.3747 27 3.7551Z" fill="#FFA500"/>
        </svg>  
      </a>
      <p class="tequilaCoctailCopyright">© 2021 AMBER BEVERAGE GROUP, LLC and its affiliated companies. ALL RIGHTS RESERVED</p>
    </div>
  </section>
</main>
@@include('../partials/page_footer.html')