@@include('../partials/head.html', { "title": "Text Page" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="textpagePage">
  <div class="textpageContainer">
    <h1>Cookies policy</h1>
    <p>This Cookies Policy describes use of cookies on online social networking web site www.CrossKeysGin.com (the “Web Site”), purposes of using the cookies as well as rights of the users to change and select use of cookies according to their needs. Cookies help the server of the Web Site to identify you when you access the Web Site, and to automatically customize the content according to your needs. By entering and/or browsing Web Site you agree to use the cookies in compliance with this Cookies Policy.</p>
    <h2>What are cookies?</h2>
    <p>A cookie is a small file which is saved in the internet browser once you visit the website. The text file contains information used to remember the settings, which a website visitor has chosen to view the site, so that the next time the visitor does not have to repeat the settings.</p>
    <h2>Which cookies are used by the web site and why are they used?</h2>
    <p class="mb25">We use several types of cookies (permanent and session). Session cookies are deleted from your devices as soon as you close the internet browser. Permanent cookies are stored in your device until they are specially deleted or when they expire. We use cookies for the following purposes:</p>
    <ul>
      <li>Functional cookies. We save information about your preferences in order to customize our Web Site for your personal interests. These cookies are stored in your device permanently until you delete them intentionally. Basis for data processing — consent of the Web Site visitor;</li>
      <li> User statistics/analytic cookies. Aimed at obtaining statistical data about the Web Site flow, at collecting marketing activities, the information about number of visitors, time spent on the Web site, user groups and search tools. Information is used for analytic purposes to find out what the Web Site visitors are interested in and how to improve the functionality of the Web Site and to make it more convenient. In some cases several analytical cookies at the Web Site, pursuant to instructions of Amber Beverage Group and only in line with the indicated goals, are managed by third parties, such as Google Analytics. These cookies are stored from 2 to 24 months and in some cases permanently or until you delete them on purpose. Basis for data processing — consent of the Web Site visitor;</li>
      <li>Advertising/target cookies. Aimed at customizing the Web Site content for your needs and to ensure the development and appearance of in-demand information. These cookies are stored in your device permanently until you delete them intentionally. In certain cases, for example, when subscribing for a newsletter of the Web Site, you provide information about you, which might be used for a targeted advertising. When receiving a targeted advertising by mail and/or to an e-mail, you can opt-out from further receiving of such advertisement by clicking on a special link, provided in any commercial e-mail letter sent to you, by sending an e-mail letter to <a href="mailto:marketing@amberbev.com">marketing@amberbev.com</a> Basis for data processing — consent of the Web Site visitor.</li>
    </ul>
    <p>Cookies are processed by Amber beverage Group legal address: 42, rue de la Vallée L-2661, Luxembourg.</p>
    <h2>How to selectand change use of the cookies?</h2>
    <p>If you don't want the cookies to be used in your devices, you can change the security settings of your browser. For more information about cookies, how to delete and manage them, refer to www.aboutcookies.org or Help section of your internet browser.</p>
  </div>
</main>
@@include('../partials/footer.html')
@@include('../partials/page_footer.html')