@@include('../partials/head.html', { "title": "Where to buy" })
@@include('../partials/header.html')
@@include('../partials/menu.html')
@@include('../partials/ageVerification.html')
<main class="whereToBuyPage">
  <section class="whereToBuyContainer">
    <h1 class="whereToBuyTitle">Order KAH online</h1>
    <p class="whereToBuyDescription">Find online retailer in your area</p>
    <a href="" class="whereToBuyExplore">
      <svg width="8" height="52" viewBox="0 0 8 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 51C1.73613 48.1491 -1.43329 39.4211 4 27.3158C9.43329 15.2105 6.26387 4.72807 4 1" stroke="#FFA500"/>
      </svg>
      Explore  
    </a>
  </section>
  <div class="whereToBuyItemsMapContainer">
    <section class="whereToBuyItems">
      <div class="whereToBuyItem" data-country="unitedStates">
        <div class="whereToBuyItemContainer">
          <p class="whereToBuyItemCountry">United States</p>
          <button class="whereToBuyArrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
            </svg>           
          </button>
        </div>
        <div class="whereToBuyLocationContainer">
          <a 
            href="https://www.caskers.com/kah-tequila/" 
            class="whereToBuyLocation" 
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            CASKERS
          </a>
        </div>
      </div>
      <div class="whereToBuyItem" data-country="canada">
        <div class="whereToBuyItemContainer">
          <p class="whereToBuyItemCountry">Canada</p>
          <button class="whereToBuyArrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
            </svg>           
          </button>
        </div>
        <div class="whereToBuyLocationContainer">
          <a 
            href="https://www.bcliquorstores.com/product/75518" 
            class="whereToBuyLocation" 
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            BC LIQUORSTORES
          </a>
        </div>
      </div>
      <div class="whereToBuyItem" data-country="latvia">
        <div class="whereToBuyItemContainer">
          <p class="whereToBuyItemCountry">Latvia</p>
          <button class="whereToBuyArrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
            </svg>           
          </button>
        </div>
        <div class="whereToBuyLocationContainer">
          <a 
            href="https://www.lbveikali.lv/lv/dzini-rumi-tekilas/tekila?brand=KAH" class="whereToBuyLocation"
            target="_blank" 
            rel="noopener noreferrer nofollow"
          >
            LATVIJAS BALZAMS VEIKALI
          </a>
          <a 
            href="https://www.spiritsandwine.lv/lv/search/?s=KAH+tequila" 
            class="whereToBuyLocation" 
            target="_blank" 
            rel="noopener noreferrer nofollow"
          >
            SPIRTIS & WINE
          </a>
        </div>
      </div>
      <div class="whereToBuyItem" data-country="lithuania">
        <div class="whereToBuyItemContainer">
          <p class="whereToBuyItemCountry">Lithuania</p>
          <button class="whereToBuyArrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
            </svg>           
          </button>
        </div>
        <div class="whereToBuyLocationContainer">
          <a 
            href="https://www.bennet.lt/lt_en/other-alcohol-drinks/tequila?brand=KAH" class="whereToBuyLocation" 
            target="_blank" 
            rel="noopener noreferrer nofollow"
          >
            BENNETSHOP
          </a>
        </div>
      </div>
      <div class="whereToBuyItem" data-country="estonia">
        <div class="whereToBuyItemContainer">
          <p class="whereToBuyItemCountry">Estonia</p>
          <button class="whereToBuyArrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.36516 11.9574C6.17063 6.12157 2.06931 1.58256 0.0429688 0.0425415L6.36516 3.20364L11.9444 0.0501743C8.83987 1.81333 6.93171 8.71998 6.36516 11.9574Z" fill="#FFA500"/>
            </svg>           
          </button>
        </div>
        <div class="whereToBuyLocationContainer">
          <a 
            href="https://pood.amberdistribution.ee/ee/e-pood/tekiila" 
            class="whereToBuyLocation" 
            target="_blank" 
            rel="noopener noreferrer nofollow"
          >
            AMBER DISTRIBUTION
          </a>
        </div>
      </div>
    </section>
    <div id="map"></div>
  </div>
</main>
@@include('../partials/footer.html')
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBjUwfvK-Yigg9Mp2bq7DrhimYGw53ObE&callback=initMap" async defer></script>
@@include('../partials/page_footer.html')