<section class="ageVerification active">
  <div class="ageVerificationContainer">
    <a href="/" class="ageVerificationLogo">
      <picture>
        <source media="(max-width: 768px)" srcset="../img/logo-m.png">
        <source media="(min-width: 769px)" srcset="../img/logo.png">
        <img src="../img/logo.png" alt="KAH-Tequila">
      </picture>
    </a>
    <div class="ageVerificationContent">
      <h2 class="ageVerificationTitle">You have to be of legal drinking age in your country of residence to enter this site.</h2>
      <p class="ageVerificationQuestion">Are You?</p>
      <div class="ageVerificationActions">
        <button class="ageVerificationButton ageVerificationButton--confirm">Yes</button>
        <button class="ageVerificationButton ageVerificationButton--decline">No</button>
      </div>
    </div>
    @@include('../partials/cookies.html')
  </div>
</section>