<section class="banner">
  <picture>
    <source media="(max-width: 600px)" srcset="../img/banner-m.png">
    <source media="(min-width: 601px)" srcset="../img/banner.png">
    <img src="../img/banner.png" alt="Banner">
  </picture>
</section>