<section class="cheers">
  <div class="cheersAbout">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/cheers-m.jpg">
      <source media="(min-width: 769px)" srcset="../img/cheers.jpg">
      <img src="../img/cheers.jpg" alt="Cheers" class="cheersImage">
    </picture>
    <div class="cheersInfo">
      <h2 class="cheersTitle">Cheers to Life</h2>
      <p class="cheersStory"> KAH is designed to pay reverence and honor to Mexico, its culture and traditions. 
        Its bottle design and spirits celebrate Día de los Muertos (Day of the Dead), the 3,000 year-old Meso-American traditional holiday in remembrance of deceased loved ones. 
        While the bottle captures the enduring tradition, the Tequila inside of it is worthy of the celebration.
        </p>
    </div>
  </div>
  <div class="cheersTechnologyContainer">
    <h3 class="cheersTechnology">KAH's distillers transform hand -selected 100% blue Weber agave into lively Blanco, Reposado, and Añejo expressions.</h3>
  </div>
</section>