<section class="coctails">
  <div class="coctailsImageContainer">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/coctails/coctails-m.png">
      <source media="(min-width: 769px)" srcset="../img/coctails/coctails.png">
      <img src="../img/coctails/coctails.png" alt="Coctails" class="coctailsImage">
    </picture>
    <a href="coctail-bar.html" class="coctailsShowAll">
      Show All Coctails
      <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.00015 3.50073C2.19752 3.12342 5.86331 2.59518 10.9475 3.50073C16.0317 4.40628 20.4344 3.87804 22.0002 3.50073" stroke="#FFA500" stroke-width="0.5"/>
        <path d="M27 3.7551C23.0816 3.88571 20.034 6.63946 19 8L21.1224 3.7551L19.0051 0.00906706C20.189 2.09351 24.8263 3.3747 27 3.7551Z" fill="#FFA500"/>
      </svg>  
    </a>
  </div>
</section>