<header class="header">
  <div class="headerContainer">
    <a href="/" class="headerLogo">
      <picture>
        <source media="(max-width: 768px)" srcset="../img/logo-m.png">
        <source media="(min-width: 769px)" srcset="../img/logo.png">
        <img src="../img/logo.png" alt="KAH-Tequila">
      </picture>
    </a>
    <button class="headerBurger" type="button">
      <span class="headerBurger-line"></span>
    </button>
  </div>
</header>