<section class="history">
  <div class="historyAbout">
    <picture>
      <source media="(max-width: 768px)" srcset="../img/day-of-dead-m.jpg">
      <source media="(min-width: 769px)" srcset="../img/day-of-dead.jpg">
      <img src="../img/day-of-dead.jpg" alt="Dead of the dead" class="historyImage">
    </picture>
    <div class="historyInfo">
      <h2 class="historyTitle">Día de los Muertos</h2>
      <p class="historyStory">Day of the Dead, Día de los Muertos, is not, in fact, a morbid custom, nor is it only one day. Each year, in most countries that celebrate this 3,000 year-old Meso-American custom, it is divided between October 31st through November 2nd “KAH” translates to “life” in the ancient Mayan language, and DoD is, in fact, is a celebration of lives lived. 
      </p>
      <a href="day-of-the-dead.html" class="historyShowMore">
        Learn more
        <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4.13208C2.19737 3.75477 5.86316 3.22653 10.9474 4.13208C16.0316 5.03763 20.4342 4.50939 22 4.13208" stroke="#FFA500" stroke-width="0.5"/>
          <path d="M27 4.38645C23.0816 4.51706 20.034 7.2708 19 8.63135L21.1224 4.38645L19.0051 0.640415C20.189 2.72486 24.8263 4.00605 27 4.38645Z" fill="#FFA500"/>
        </svg>  
      </a>
    </div>
  </div>
  @@include('../partials/moreAbout.html')
</section>