<section class="menu">
  <button class="menuClose">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2312 16L5.11523 25.116L6.88323 26.884L15.9992 17.768L25.1152 26.884L26.8832 25.116L17.7672 16L26.8832 6.88397L25.1152 5.11597L15.9992 14.232L6.88323 5.11597L5.11523 6.88397L14.2312 16Z" fill="white"/>
    </svg>  
  </button>
  <a href="/" class="menuLogo">
    <img src="../img/logo-m.png" alt="KAH-Tequila">
  </a>
  <div class="menuContainer">
    <img src="../img/menuImage.jpg" alt="menu" class="menuImage">
    <div class="menuContent">
      <nav class="menuNavigation">
        <a href="" class="menuLink">About</a>
        <a href="" class="menuLink">Products</a>
        <a href="coctail-bar.html" class="menuLink">Coctails</a>
        <a href="production.html" class="menuLink">Production</a>
        <a href="day-of-the-dead.html" class="menuLink">Day of the Dead</a>
        <a href="faq.html" class="menuLink">FAQ</a>
        <a href="where-to-buy.html" class="menuLink">Buy now</a>
      </nav>
      <div class="menuSocialContainer">
        <h4 class="menuSubtitle">Contacts</h4>
        <div class="menuSocial">
          <a href="" class="menuLink menuLink--icon">
            <svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.49953 8.24988V5.24988C7.49953 4.42188 8.17149 3.74988 8.99944 3.74988H10.4993V-0.00012207H7.49953C5.01419 -0.00012207 2.99981 2.01438 2.99981 4.49988V8.24988H0V11.9999H2.99981V23.9999H7.49953V11.9999H10.4993L11.9993 8.24988H7.49953Z" fill="white"/>
            </svg>  
          </a>
          <a href="" class="menuLink menuLink--icon">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 0.437744H7.5C3.3585 0.437744 0 3.79624 0 7.93774V16.9377C0 21.0792 3.3585 24.4377 7.5 24.4377H16.5C20.6415 24.4377 24 21.0792 24 16.9377V7.93774C24 3.79624 20.6415 0.437744 16.5 0.437744ZM21.75 16.9377C21.75 19.8327 19.395 22.1877 16.5 22.1877H7.5C4.605 22.1877 2.25 19.8327 2.25 16.9377V7.93774C2.25 5.04274 4.605 2.68774 7.5 2.68774H16.5C19.395 2.68774 21.75 5.04274 21.75 7.93774V16.9377ZM11.9988 6.43531C8.68547 6.43531 5.99914 9.12181 5.99914 12.4353C5.99914 15.7488 8.68547 18.4353 11.9988 18.4353C15.3121 18.4353 17.9984 15.7488 17.9984 12.4353C17.9984 9.12181 15.3121 6.43531 11.9988 6.43531ZM11.9988 16.1853C9.9319 16.1853 8.249 14.5023 8.249 12.4353C8.249 10.3668 9.9319 8.68531 11.9988 8.68531C14.0656 8.68531 15.7485 10.3668 15.7485 12.4353C15.7485 14.5023 14.0656 16.1853 11.9988 16.1853ZM19.1988 6.44075C19.1988 7.10346 18.6614 7.64068 17.9985 7.64068C17.3356 7.64068 16.7982 7.10346 16.7982 6.44075C16.7982 5.77805 17.3356 5.24083 17.9985 5.24083C18.6614 5.24083 19.1988 5.77805 19.1988 6.44075Z" fill="white"/>
            </svg>  
          </a>
        </div>
      </div>
    </div>
  </div>
</section>