<section class="moreAbout">
  <h2 class="moreAboutTitle">Find out more about us!</h2>
  <a href="" class="moreAboutLink">
    <svg width="8" height="52" viewBox="0 0 8 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 51.1118C1.73613 48.2609 -1.43329 39.5329 4 27.4276C9.43329 15.3223 6.26387 4.83989 4 1.11182" stroke="#FFA500"/>
    </svg>
    Check Our Instagram
  </a>
  <div class="moreAboutContainer swiper-container">
    <div class="swiper-wrapper">
      <div class="moreAboutItem swiper-slide">
        <img src="../img/insta/post-1.jpg" alt="IG">
      </div>
      <div class="moreAboutItem swiper-slide">
        <img src="../img/insta/post-2.jpg" alt="IG">
      </div>
      <div class="moreAboutItem swiper-slide">
        <img src="../img/insta/post-3.jpg" alt="IG">
      </div>
      <div class="moreAboutItem swiper-slide">
        <img src="../img/insta/post-4.jpg" alt="IG">
      </div>
      <div class="moreAboutItem swiper-slide">
        <img src="../img/insta/post-5.jpg" alt="IG">
      </div>
    </div>
  </div>
</section>