<section class="products">
  <picture>
    <source media="(max-width: 600px)" srcset="../img/products/flowers-m.png">
    <source media="(min-width: 601px)" srcset="../img/products/flowers.png">
    <img class="productsFlowers" src="../img/products/flowers.png" alt="Flowers">
  </picture>
  <h2 class="productsTitle">Anejo</h2>
  <div class="productsContainer swiper-container">
    <div class="swiper-wrapper">
      <div class="productsItem swiper-slide">
        <img src="../img/products/product-1.png" alt="Tequila">
      </div>
      <div class="productsItem swiper-slide">
        <img src="../img/products/product-2.png" alt="Tequila">
      </div>
      <div class="productsItem swiper-slide">
        <img src="../img/products/product-3.png" alt="Tequila">
      </div>
    </div>
  </div>
  <a href="" class="productsViewMore">
    View Tequila
    <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 3.61255C2.19737 3.23524 5.86316 2.707 10.9474 3.61255C16.0316 4.5181 20.4342 3.98986 22 3.61255" stroke="#FFA500" stroke-width="0.5"/>
      <path d="M27 3.86692C23.0816 3.99753 20.034 6.75127 19 8.11182L21.1224 3.86692L19.0051 0.120883C20.189 2.20533 24.8263 3.48652 27 3.86692Z" fill="#FFA500"/>
    </svg>  
  </a>
</section>