<section class="secondScreen">
  <div class="secondScreenContainer">
    <h1 class="secondScreenTitle">KAH - DAY OF THE DEAD TEQUILA</h1>
    <p class="secondScreenDescription">KAH is designed to pay reverence and honor to Mexico, its culture and traditions. 
    </p>
    <a href="day-of-the-dead.html" class="secondScreenExplore">
      <svg width="8" height="52" viewBox="0 0 8 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 51.1118C1.73613 48.2609 -1.43329 39.5329 4 27.4276C9.43329 15.3223 6.26387 4.83989 4 1.11182" stroke="#FFA500"/>
      </svg>
      Explore
    </a>
  </div>
</section>