.ageVerification {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  background-image: url('../img/age-verification-bg.png');
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-out;
  overflow-y: scroll;

  @media (--tablet-max) {
    padding: 30px 20px 25px;
    background-size: 320px;
    background-position: 100px 30px;

    &:after {
      content: "© 2021 AMBER BEVERAGE GROUP, LLC and its affiliated companies. ALL RIGHTS RESERVED";
      margin-top: auto;
      font-family: var(--font-family-additional);
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1em;
      color: var(--color-white);
    }
  }

  @media (--tablet-m) {
    padding: 40px 40px 40px 25px;
    background-size: 670px;
    background-position: 80px 25px;
  }

  &.active {
    opacity: 1;
    z-index: 3;
  }

  &Logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &Container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: var(--main-max-width);
    width: 100%;
    height: inherit;
    margin: 0 auto;

    @media (--tablet-max) {
      justify-content: center;
      align-items: center;
    }

    @media (--tablet-m) {
      align-items: flex-end;
      justify-content: flex-end;
    }

    @media (--desktop-xlarge) {
      align-items: center;
      justify-content: center;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;

    @media (--tablet-m) {
      margin: 0 auto 65px;
    }
  }

  &Title {
    margin-bottom: 25px;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-orange);

    @media (--tablet-max) {
      max-width: 280px;
      font-size: 32px;
      line-height: 40px;
    }

    @media (--tablet-m) {
      font-size: 40px;
      line-height: 56px;
      letter-spacing: 0.1em;
    }
  }

  &Question {
    font-family: var(--font-family-additional);
    text-align: center;
    text-transform: capitalize;
    color: var(--color-white);

    @media (--tablet-max) {
      max-width: 320px;
      margin-bottom: 55px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.05em;
    }

    @media (--tablet-m) {
      margin-bottom: 60px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.1em;
    }
  }

  &Actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: Athelas;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    transition: all 0.2s ease-out;

    @media (--tablet-max) {
      width: calc(50% - 15px);
      max-width: 140px;
    }

    @media (--tablet-m) {
      width: 140px;
    }

    &--confirm {
      margin-right: 30px;
    }

    &:hover {
      border-color: var(--color-orange);
      color: var(--color-orange);
    }
  }
}