.banner {
  width: 100%;

  @media (--tablet) {
    background-image: url('../img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (--tablet-max) {
    padding: 0 0 125px;
  }

  @media (--tablet-m) {
    padding: 0 0 300px;
  }

  img {
    width: 100%;

    @media (--mobile) {
      margin-top: calc(-100vw/5.77);
    }
  }
}