html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

  @media (--tablet) {
    min-height: 100%;
  }
}

body {
  display: flex;
  overflow: visible;
  position: relative;
  padding: 0;
  font-size: 1rem;
	min-width: 320px;
  font-family: var(--font-family-base);
  background-color: var(--color-black);

  flex-direction: column;

  @media (--tablet) {
    min-height: 100%;
  }
  
  &.popupOpened {
    overflow: hidden;
  }

  main {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
}

a {
  cursor: pointer;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}