.coctails {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  &Image {
    position: relative;
    width: 100%;
    
    &Container {
      position: relative;
      z-index: 1;

      &:before {
        position: absolute;
        top: 0;
        left: 30px;
        content: '';
        width: calc(100vw + 40px);
        height: 100%;
        background: rgba(150, 150, 150, 0.3);
        opacity: 0.2;
        filter: blur(200px);
        z-index: 0;

        @media (--tablet-max) {
          display: none;
        }
      }
    }
  }

  &ShowAll {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--color-orange);
    transform: translateX(-50%);
    text-decoration: none;
    white-space: nowrap;

    svg {
      margin-left: 10px;
    }

    @media (--tablet-max) {
      bottom: calc(100vw/8.33);
    }

    @media (--tablet-m) {
      bottom: calc(100vw/16.36);
    }
  }
}