.coctail {
  &Page {
    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Item {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
    @media (--tablet-l-max) {
      flex-direction: column;
      align-items: center;
      padding: 160px 20px 150px;
    }

    @media (--tablet-m) {
      padding: 200px 40px 150px;
    }

    @media (--tablet-l) {
      justify-content: space-between;
      align-items: flex-end;
    }

    @media (--desktop-xlarge) {
      padding: 200px 0 150px;
    }

    &Image {
      &--desktop {
        @media (--tablet-l-max) {
          display: none;
        }

        @media (--tablet-l) {
          width: calc(50% - 40px);
        }

        @media (--desktop-xlarge) {
          width: auto;
        }
      }

      &--mobile {
        max-width: 380px;
        width: 100%;
        margin: 0 auto 40px;

        @media (--tablet-l) {
          display: none;
        }
      }
    }

    &Receipt {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 610px;

      @media (--tablet-l) {
        max-width: 550px;
        width: calc(50% - 40px);
        margin-bottom: 0;
        margin-right: 40px;
      }

      &Title {
        font-family: var(--font-family-base);
        font-weight: bold;
        color: var(--color-orange);

        @media (--tablet-max) {
          margin-bottom: 40px;
          font-size: 40px;
          line-height: 40px;
        }

        @media (--tablet-m) {
          margin-bottom: 50px;
          font-size: 56px;
          line-height: 56px;
        }
      }

      &Subtitle {
        margin-bottom: 25px;
        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: var(--color-white);

        @media (--desktop-m) {
          margin-bottom: 0;
        }
      }

      &Text {
        width: 100%;
        font-family: var(--font-family-additional);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: var(--color-white);

        @media (--desktop-m) {
          max-width: 280px;
        }

        @media (--desktop-large) {
          max-width: 330px;
        }
      }

      &Item {
        display: flex;
        justify-content: space-between;
        border-top: 0.5px solid var(--color-white);

        /* @media (--tablet-l-max) { */
          flex-direction: column;
          padding: 25px 0;
        /* } */

        @media (--tablet-l) {
          padding: 30px 0;
        }

        @media (--desktop-m) {
          flex-direction: row;
        }

        &--first {
          @media (--tablet-l-max) {
            border-top: none;
            padding-top: 0;
          }
        }

        &--last {
          padding-bottom: 0;
        }
      }

      &List {
        width: 100%;

        @media (--desktop-m) {
          max-width: 280px;
        }

        @media (--desktop-large) {
          max-width: 330px;
        }

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &Taste {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--tablet-max) {
      padding: 0 20px 150px;
    }
    
    @media (--tablet-m) {
      padding: 150px 40px;

      &:before {
        content: '';
        position: absolute;
        width: 1142px;
        height: 786px;
        background: linear-gradient(89.98deg, #0F080A 13.84%, #3C2C10 36.53%, #503B13 53.25%, #3C2C10 69.17%, #0F080A 90.27%);
        opacity: 0.2;
        filter: blur(200px);
      }
    }
    
    &Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 980px;
      width: 100%;
    }

    &Items {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (--tablet-l) {
        flex-direction: row;
        justify-content: space-between;
      }

      @media (--desktop-m) {
        justify-content: center;
      }
    }

    &Item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease-out;

      @media (--tablet-l-max) {
        max-width: 320px;
        width: calc(100% - 40px);
        margin: 0 auto 60px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media (--tablet-l) {
        &:hover {
          transform: scale(1.185);

          .coctailTasteTitle {
            opacity: 1;
          }
        }
      }

      @media (--desktop-m) {
        &:first-child {
          margin-right: 150px;
        }
      }

      img {
        width: 100%;

        @media (--tablet-l) {
          max-width: 320px;
          margin-bottom: 15px;
        }

        @media (--desktop-m) {
          max-width: 380px;
        }
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      transition: all 0.4s ease-out;

      @media (--tablet-l-max) {
        margin-top: -20px;
        font-size: 42px;
        line-height: 42px;
      }

      @media (--tablet-l) {
        max-width: 375px;
        width: 100%;
        margin-top: -35px;
        font-size: 68px;
        line-height: 68px;
        opacity: 0;
      }
    }
  }
}