.coctailBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--tablet-max) {
    padding: 165px 20px 80px;
  }

  @media (--tablet-m) {
    padding: 200px 40px 195px;
    background-image: url('../img/coctail/coctail-bar.png'),
                      url('../img/coctail/single-coctail-bg.png');
    background-repeat: no-repeat;
    background-size: 525px, auto;
    background-position: 100px 255px, center top;
  }

  &Title {
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin: 0 5px 60px;
      font-size: 50px;
      line-height: 64px;
    }

    @media (--tablet-m) {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Description {
    max-width: 525px;
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);

    @media (--tablet-max) {
      margin-bottom: 100px;
    }

    @media (--tablet-m) {
      margin-bottom: 150px;
    } 
  }

  &Tequilas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;

    @media (--tablet-max) {
      flex-direction: column;
    }

    &Item {
      font-family: var(--font-family-base);
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: var(--color-orange);
      background-color: transparent;
      border: none;
      outline: none;
      transition: all 0.4s ease-out;

      &.active {
        color: var(--color-white);
      }

      @media (--tablet-max) {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &Coctails {
    position: relative;

    @media (--tablet-max) {
      padding-bottom: 100px;
    }

    @media (--tablet-m) {
      padding-bottom: 145px;

      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        width: 1085px;
        height: 525px;
        transform: translateX(-50%);
        z-index: 0;
        background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
        opacity: 0.25;
        filter: blur(200px);
      }
    }

    &Slider {
      
      @media (--tablet-m) {
        max-width: 1080px;
        height: 560px;
      }
    }

    &Container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
    }
  }

  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;

    @media (--tablet-m) {
      &:hover {
        .coctailBarItemName {
          opacity: 1;
        }

        .coctailBarItemImage {
          max-width: 350px;
        }
      }

      &.swiper-slide {
        opacity: 0;
        transition: all 0.2s ease-out;
      }

      &.swiper-slide-active,
      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 1;
      }
    }

    &Image {
      transition: all 0.4s ease-out;

      @media (--tablet-max) {
        margin-bottom: 10px;
        max-width: 250px;
      }

      @media (--tablet-m) {
        margin-bottom: 40px;
        max-width: 280px;
      }
    }

    &Name {
      font-family: var(--font-family-base);
      font-weight: bold;
      color: var(--color-orange);
      transition: all 0.4s ease-out;

      @media (--tablet-max) {
        font-size: 32px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        font-size: 56px;
        line-height: 64px;
        opacity: 0;
      }
    }
  }

  &Page {
    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }
}