.contact {
  &Page {
    position: relative;

    @media (--tablet-max) {
      padding: 220px 20px 100px;
    }
    
    @media (--tablet-m) {
      padding: 200px 40px 250px;
    }

    &:before {
      position: absolute;
      content: '';
      background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
      opacity: 0.2;
      filter: blur(200px);
      border-radius: 100%;
      pointer-events: none;

      @media (--tablet-max) {
        width: 375px;
        height: 517px;
        left: calc((100% - 375px)/2);
        top: 104px;
      }

      @media (--tablet-m) {
        width: 1156px;
        height: 517px;
        left: calc((100% - 1156px)/2);
        top: 42px;
      }
    }

    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Container {
    position: relative;
  }

  &Title {
    margin-bottom: 30px;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-orange);

    @media (--tablet-max) {
      font-size: 50px;
      line-height: 64px;
    }

    @media (--tablet-m) {
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Description {
    margin-bottom: 150px;
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);
  }

  &Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @media (--tablet-l-max) {
      max-width: 450px;
      flex-direction: column;
    }

    @media (--tablet-l) {
      height: 180px;
      max-width: 900px;
    }

    &Container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (--tablet-l-max) {
        align-items: center;
      }

      &:last-child {
        .contactItem {
          &:first-child {
            @media (--tablet-l-max) {
              span {
                width: fit-content;
              }
            }
          }

          &:last-child {
            @media (--tablet-l-max) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &Item {
    display: flex;
    height: fit-content;
    text-decoration: none;

    @media (--tablet-l-max) {
      justify-content: center;
      margin-bottom: 100px;
    }

    span {
      font-family: var(--font-family-extra);
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      color: var(--color-orange);

      @media (--tablet-l-max) {
        word-break: break-all;
      }
    }

    svg { 
      width: max-content;
      margin-right: 25px;
    }

    &:first-child {
      max-width: 280px;

      span {
        width: calc(280px - 57px);
      }

      svg {
        margin-top: 5px;
      }
    }

    &:last-child {
      align-items: center;
    }
  }
}