.cookies {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 485px;
  padding: 30px;
  background-color: rgba(118, 114, 115, 0.05);
  transition: all 0.2s ease-out;
  pointer-events: none;
  opacity: 0;

  @media (--tablet-max) {
    display: none;
  }

  &.active {
    opacity: 1;
    pointer-events: inherit;
  }

  &Close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;

    svg {
      path {
        transition: all 0.2s ease-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--color-orange);
        }
      }
    }
  }

  &Title {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-orange);
  }

  &Info {
    margin-bottom: 40px;
    font-family: var(--font-family-additional);
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--color-white);
  }

  &Actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: Athelas;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    transition: all 0.2s ease-out;

    &--accept {
      width: 205px;
      margin-right: 30px;
    }

    &--options {
      width: 130px;
    }

    &:hover {
      border-color: var(--color-orange);
      color: var(--color-orange);
    }
  }
}