.dayOfTheDead {
  &Page {
    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      content: '';
      background: radial-gradient(206.63% 206.63% at 50% 50%, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.02) 100%);
      filter: blur(200px);
    }

    @media (--mobile) {
      background-image: url('../img/dayOfTheDead/banner-m.jpg');
    }

    @media (--tablet) {
      background-image: url('../img/dayOfTheDead/banner.jpg');
    }

    @media (--tablet-max) {
      padding: 220px 20px 40px;
      background-position: center;

      &:before {
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 140px);
      }
    }

    @media (--tablet-m) {
      padding: 250px 40px 60px;

      &:before {
        top: 0;
        right: 0;
        width: 1015px;
        height: 800px;
      }
    }

    &Container {
      position: relative;
      display: flex;
      margin-bottom: auto;
    }
  }

  &Title {
    position: relative;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-orange);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (--mobile) {
      max-width: 400px;
    }

    @media (--tablet-max) {
      font-size: 50px;
      line-height: 64px;
    }

    @media (--tablet-m) {
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Explore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-orange);

    svg {
      margin-bottom: 15px;
    }
  }

  &Muertoss {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/production/ornament.png');
    background-repeat: no-repeat;

    @media (--tablet-max) {
      padding: 40px 20px 150px;
    }

    @media (--tablet-m) {
      padding: 80px 20px 150px;
    }

    @media (--tablet-l-max) {
      background-size: 400px;
      background-position: calc(100% + 100px) 260px; 
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      padding: 150px 40px 250px;
      margin: 0 auto;
      background-size: 675px;
      background-position: center bottom; 
    }

    picture {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      img {
        @media (--tablet-m) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-right: 40px;
      }

      @media (--desktop-m) {
        align-items: center;
      }
    }

    &Image {
      max-height: 610px;

      @media (--tablet-max) {
        /* max-width: 580px; */
        max-width: 100%;
      }

      @media (--tablet-m) {
        max-width: 625px;
      }
    }

    &Info {
      display: flex;
      flex-direction: column;

      @media (--tablet-l-max) {
        max-width: 625px;
      }

      @media (--tablet-l) {
        max-width: 580px;
        width: calc(50% - 40px);
      }

      @media (--desktop-m) {
        margin-top: 45px;
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: 56px;
      }

      @media (--desktop-m) {
        margin-left: -480px;
      }
    }

    &Text {
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: var(--color-white);
    }
  }

  &Festival {
    max-width: 990px;
    font-family: var(--font-family-base);
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin: 0 20px 70px;
      width: calc(100% - 40px);
    }

    @media (--tablet-m) {
      width: 100%;
      margin: 10px auto 195px;
      padding: 0 40px;
    }
  }

  &Atmosphere {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;

    &:not(&--reversed) {
      @media (--tablet-l-max) {
        flex-direction: column-reverse;
      }
    }

    @media (--tablet-l-max) {
      padding: 80px 20px; 
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      padding: 0 40px 150px;
      margin: 0 auto;
    }

    picture {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      img {
        @media (--tablet-m) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-left: 40px;
      }

      @media (--desktop-m) {
        align-items: center;
      }
    }

    &Container {
      width: 100%;
      background-image: url('../img/production/ornament.png');
      background-repeat: no-repeat;

      @media (--tablet-l-max) {
        background-size: 400px;
        background-position: calc(100% + 100px) 260px;
      }

      @media (--tablet-l) {
        background-size: 675px;
        background-position: center; 
      }
    }

    &Image {
      max-height: 610px;

      @media (--tablet-max) {
        /* max-width: 580px; */
        max-width: 100%;
      }

      @media (--tablet-m) {
        max-width: 625px;
      }
    }

    &Info {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (--tablet-l-max) {
        max-width: 625px;
        width: 100%;
      }

      @media (--tablet-l) {
        max-width: 580px;
        width: calc(50% - 40px);
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        font-size: 64px;
        line-height: 56px;
      }

      @media (--desktop-m) {
        position: absolute;
        top: 50px;
        left: 95px;
        min-width: max-content;
      }
    }

    &Salut {
      font-family: var(--font-family-base);
      font-weight: bold;
      font-size: 40px;
      line-height: 72px;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-top: 25px;
      }

      @media (--tablet-m) {
        margin-top: 40px;
      }
    }

    &Text {
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: var(--color-white);

      &--mt {
        @media (--tablet-m) {
          margin-top: 40px;
        }

        @media (--desktop-m) {
          margin-top: 140px;
        }
      }
    }

    &--reversed {
      align-items: center;

      @media (--tablet-max) {
        padding-top: 0;
      }

      picture {
        @media (--tablet-l) {
          margin-left: 0;
          margin-right: 40px;
        }
      }

      .productionCraftText {
        margin-top: 0;
      }
    }
  }
}