.faq {
  &Page {
    position: relative;

    @media (--tablet-max) {
      padding: 220px 20px 100px;
    }
    
    @media (--tablet-m) {
      padding: 200px 40px 400px;
    }

    &:before {
      position: absolute;
      content: '';
      background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
      opacity: 0.2;
      filter: blur(200px);
      border-radius: 100%;
      pointer-events: none;

      @media (--tablet-max) {
        width: 375px;
        height: 517px;
        left: calc((100% - 375px)/2);
        top: 104px;
      }

      @media (--tablet-m) {
        width: 1156px;
        height: 517px;
        left: calc((100% - 1156px)/2);
        top: 42px;
      }
    }

    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Container {
    position: relative;
  }

  &Title {
    margin-bottom: 30px;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-orange);

    @media (--tablet-max) {
      font-size: 50px;
      line-height: 64px;
    }

    @media (--tablet-m) {
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Description {
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);

    @media (--tablet-max) {
      margin-bottom: 150px;
    }

    @media (--tablet-m) {
      margin-bottom: 200px;
    }
  }

  &Item {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-sizing: border-box;

    &.active {
      .faqAnswer {
        display: block;
      }

      .faqAnswerList {
        display: block;
      }

      .faqArrow {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    @media (--tablet-max) {
      padding: 15px 0;

      &:last-child {
        padding-bottom: 0;

        .faqAnswer {
          margin-bottom: 0;
        }
      }
    }

    @media (--tablet-m) {
      padding: 45px 0;
      border-bottom: 1.5px solid rgba(255, 165, 0, 0.2); 
    }
  }

  &Question {
    font-family: var(--font-family-base);
    font-weight: bold;
    color: var(--color-orange);

    @media (--tablet-max) {
      width: calc(100% - 60px);
      font-size: 24px;
      line-height: 32px;
    }

    @media (--tablet-m) {
      width: calc(100% - 80px);
      font-size: 32px;
      line-height: 40px;
    }

    &Container {
      display: flex;
      justify-content: space-between;
    }
  }

  &Arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-orange);
    border-radius: 100%;
    outline: none;

    svg {
      transition: all 0.2s ease-out;

      @media (--tablet-max) {
        width: 10px;
        height: 10px;
      }

      @media (--tablet-m) {
        width: 12px;
        height: 12px;
      }
    }

    @media (--tablet-max) {
      margin-left: 60px;
      min-width: 32px;
      height: 32px;
    }

    @media (--tablet-m) {
      margin-left: 80px;
      min-width: 40px;
      height: 40px;
    }
  }

  &Answer {
    display: none;
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--color-white);

    a {
      text-decoration: none;
      color: var(--color-orange);
    }

    @media (--tablet-max) {
      margin: 25px 0 20px;
    }

    @media (--tablet-m) {
      margin-top: 40px;
    }

    &List {
      display: none;
      list-style: disc;
      padding-left: 15px;

      li {
        font-family: var(--font-family-additional);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: var(--color-white);

        @media (--tablet-max) {
          margin: 25px 0 20px;
        }

        @media (--tablet-m) {
          margin-top: 40px;
        }
      }
    }
  }
}