.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--font-family-additional);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-white);
  background-color: var(--color-black-additional);

  @media (--mobile) {
    padding: 40px 20px 30px;
  }

  @media (--tablet) {
    padding: 25px 0;
  }
}