.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
	z-index: 3;
	transition: all .5s ease-out;

	@media (--tablet-max) {
		height: 117px;
	}

	@media (--tablet-m) {
		height: 149px;
	}

	&.hidden {
		height: 0;
		overflow: hidden;
	}

	&Container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: var(--main-max-width);
		margin: 0 auto;

		@media (--tablet-max) {
			padding: 30px 20px;
		}

		@media (--tablet-m) {
  		padding: 40px 80px 40px 20px;
		}
	}

  &Burger {
		transition: 0.1s transform linear;
		position: relative;
		height: 18px;
		width: 27px;
		z-index: 1;
		outline: 0;
		padding: 0;
		border: 0;
		background: none;

		&:hover {
			.headerBurger-line {
				&,
				&::before,
				&::after {
					background-color: var(--color-orange);
				}
			}

		}

		&-line {
			&, 
			&::before, 
			&::after {
				transition: all 0.2s ease-out;
				position: absolute;
				background-color: var(--color-white);
				width: 100%;
				height: 2px;
				content: '';
				top: calc(50% - 2px);
				left: 0;
			}

			& {
				margin-top: 0;
			}

			&::before {
				top: -6px;
			}

			&::after {
				top: 6px;
			}

			&::before,
			&::after {
				transform: rotate(0deg);
			}
		}
	}
}