.history {
  width: 100%;
  background-color: var(--color-black);

  @media (--tablet-m) {
    background-image: url('../img/ornament-bg.png');
    background-repeat: no-repeat;
    background-size: 707px;
    background-position: center 5%;
  }

  &About {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;

    @media (--tablet-max) {
      margin: 200px auto 150px;
    }

    @media (--tablet-l-max) {
      flex-direction: column;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      align-items: flex-start;
      margin: 300px auto 150px;
      padding: 0 40px;
    }

    @media (--desktop-m) {
      align-items: center;
    }

    picture {
      @media (--tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      img {
        @media (--tablet) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-right: 40px;
      }
    }
  }

  &Image {
    max-height: 610px;

    @media (--tablet-max) {
      max-width: 580px;
    }

    @media (--tablet-m) {
      max-width: 625px;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    
    @media (--tablet-l-max) {
      max-width: 665px;
      padding: 0 20px;
    }

    @media (--tablet-l) {
      max-width: 580px;
      width: calc(50% - 40px);
    }
  }

  &Title {
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    @media (--tablet-max) {
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 40px;
    }

    @media (--tablet-m) {
      margin-bottom: 40px;
      font-size: 80px;
      line-height: 80px;
    }

    @media (--desktop-m) {
      margin-left: -540px;
    }
  }

  &Story {
    font-family: var(--font-family-base);
    text-align: center;
    color: var(--color-white);

    @media (--tablet-max) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 32px;
    }

    @media (--tablet-m) {
      margin: 0 auto 45px;
      font-size: 24px;
      line-height: 40px;
    }

    @media (--tablet-l-max) {
      max-width: 625px;
    }
  }

  &ShowMore {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--color-orange);
    text-decoration: none;

    svg {
      margin-left: 10px;
    }
  }
}