.index {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 40px 50px;
  }

  h1 {
    font-family: var(--font-family-base);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 36px;
    }

    @media (--tablet-m) {
      margin-bottom: 45px;
      font-size: 46px;
      line-height: 50px;
    }
  }

  a {
    font-family: var(--font-family-base);
    font-weight: bold;
    color: var(--color-orange);
    text-decoration: none;

    @media (--tablet-max) {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 36px;
    }

    @media (--tablet-m) {
      margin-bottom: 40px;
      font-size: 38px;
      line-height: 42px;
    }
  }
}