.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-out;

  @media (--tablet-max) {
    padding: 110px 20px 70px;
  }

  @media (--tablet-m) {
    padding: 40px;
  }

  &.active {
    opacity: 1;
    z-index: 4;
  }

  &Close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;

    svg {
      path {
        transition: all 0.2s ease-out;
      }
    }

    @media (--tablet-max) {
      top: 38px;
      right: 13px;
    }

    @media (--tablet-m) {
      top: 55px;
      right: 75px;
    }

    &:hover {
      svg {
        path {
          fill: var(--color-orange);
        }
      }
    }
  }

  &Image {
    max-width: 50%;
    max-height: calc(100vh - 160px);
    margin: 0 auto;

    @media (--tablet-max) {
      display: none;
    }
  }

  &Logo {
    position: absolute;
    top: 30px;
    left: 20px;

    @media (--tablet-m) {
      display: none;
    }
  }

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--main-max-width);
    max-height: 707px;
    width: 100%;
    height: 100%;
  }

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    overflow-y: auto;

    @media (--tablet-max) {
      width: 100%;
    }

    @media (--tablet-m) {
      width: 50%;
    }
  }

  &Navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--mobile) {
      margin-top: 80px;
    }
  }

  &Link {
    display: flex;
    font-family: var(--font-family-base);
    line-height: 40px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.2s ease-out;

    @media (--tablet-max) {
      margin-bottom: 25px;
      font-size: 28px;
    }

    @media (--tablet-m) {
      margin-bottom: 30px;
      font-size: 32px;
    }

    &:hover {
      color: var(--color-orange);
    }

    &--icon {
      margin-bottom: 0;

      &:first-child {
        margin-right: 30px;
      }

      svg {
        path {
          transition: all 0.2s ease-out;
        }
      }

      &:hover {
        svg {
          path {
            fill: var(--color-orange);
          }
        }
      }
    }
  }

  &Subtitle {
    margin-bottom: 30px;
    font-family: var(--font-family-base);
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white);
  }

  &Social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}