.moreAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (--mobile) {
    margin-bottom: 150px;
  }

  @media (--tablet) {
    margin-bottom: 125px;
  }

  &Title {
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin-bottom: 30px;
      padding: 0 20px;
      font-size: 40px;
      line-height: 40px;
    }

    @media (--tablet-m) {
      margin-bottom: 25px;
      font-size: 64px;
      line-height: 56px;
    }
  }

  &Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-orange);

    svg {
      margin-bottom: 15px;
    }
  }

  &Container {
    display: flex;
    align-items: center;
    max-width: 100vw;
    /* max-height: 504px; */
    height: 100%;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-container {
      height: 100%;
    }
  }

  &Item {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      width: 100%;
    }
  }
}