.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-black);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (--tablet-max) {
    background-image: url('../img/products/products-bg-m.png');
  }

  @media (--tablet-m) {
    background-image: url('../img/products/products-bg.png');
  }

  &Container {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-height: 717px;
    max-width: 100%;
    height: 100%;
    z-index: 1;

    @media (--desktop-large) {
      max-width: 1280px;
    }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-container {
      height: 100%;
    }
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.5));
      /* transition: all 0.3s; */

      @media (--mobile) {
        width: 65px;
      }

      @media (--tablet) {
        width: 165px;
      }
    }

    &.swiper-slide-active {
      @media (--mobile) {
        height: 457px;
      }

      @media (--tablet) {
        height: 715px;
      }

      img {

        @media (--mobile) {
          width: 145px;
        }

        @media (--tablet) {
          width: 229px;
        }
      }
    }
  }

  &Flowers {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;

    @media (--tablet-max) {
      top: 50%;
    }

    @media (--tablet-m) {
      top: calc(50% + 85px);
    }
  }

  &Title {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: var(--color-orange);

    @media (--tablet-max) {
      display: none;
    }

    @media (--tablet-m) {
      margin-top: 150px;
    }
  }

  &ViewMore {
    margin-top: 30px;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--color-orange);
    text-decoration: none;

    svg {
      margin-left: 10px;
    }

    @media (--tablet-max) {
      display: none;
    }
  }
}