.production {
  &Page {
    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/production/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (--tablet-max) {
      padding: 220px 20px 40px;
      background-position: center;
    }

    @media (--tablet-m) {
      padding: 250px 40px 60px;
    }

    &Container {
      position: relative;
      display: flex;
      margin-bottom: auto;

      &:before {
        position: absolute;
        left: -95px;
        top: -130px;
        content: '';
        width: 710px;
        height: 435px;
        background: radial-gradient(206.63% 206.63% at 50% 50%, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.02) 100%);
        filter: blur(200px);
      }
    }
  }

  &Title {
    position: relative;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-orange);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (--tablet-max) {
      font-size: 50px;
      line-height: 64px;
    }

    @media (--tablet-m) {
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Explore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-orange);

    svg {
      margin-bottom: 15px;
    }

    &Container {
      position: relative;

      &:before {
        position: absolute;
        left: -145px;
        top: -75px;
        content: '';
        width: 365px;
        height: 225px;
        background: radial-gradient(206.63% 206.63% at 50% 50%, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.02) 100%);
        filter: blur(200px);
      }
    }
  }

  &Factory {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/production/ornament.png');
    background-repeat: no-repeat;

    @media (--tablet-max) {
      padding: 40px 20px 150px;
    }

    @media (--tablet-m) {
      padding: 80px 20px 150px;
    }

    @media (--tablet-l-max) {
      background-size: 400px;
      background-position: calc(100% + 100px) 260px; 
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      padding: 150px 40px 250px;
      margin: 0 auto;
      background-size: 675px;
      background-position: center bottom; 
    }

    @media (--desktop-xlarge) {
      padding: 150px 0 250px;
    }

    picture {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      img {
        @media (--tablet-m) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-right: 40px;
      }

      @media (--desktop-m) {
        align-items: center;
      }

      @media (--desktop-xlarge) {
        width: 640px;
      }
    }

    &Image {
      max-height: 610px;

      @media (--tablet-max) {
        /* max-width: 580px; */
        max-width: 100%;
      }

      @media (--tablet-m) {
        max-width: 625px;
      }
    }

    &Info {
      display: flex;
      flex-direction: column;

      @media (--tablet-l-max) {
        max-width: 625px;
      }

      @media (--tablet-l) {
        max-width: 560px;
        width: calc(50% - 40px);
      }

      @media (--desktop-m) {
        margin-top: 45px;
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: 56px;
      }

      @media (--desktop-m) {
        margin-left: -480px;
      }
    }

    &Text {
      margin-bottom: 40px;
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: var(--color-white);
    }

    &LearnMore {
      display: flex;
      align-items: center;
      margin: 0 auto;
      font-family: var(--font-family-extra);
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      color: var(--color-orange);
      text-decoration: none;

      svg {
        margin-left: 10px;
      }
    }
  }

  &Steps {
    max-width: 990px;
    font-family: var(--font-family-base);
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin: 0 20px 70px;
      width: calc(100% - 40px);
    }

    @media (--tablet-m) {
      width: 100%;
      margin: 10px auto 195px;
      padding: 0 40px;
    }
  }

  &Craft {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;

    &:not(&--reversed) {
      @media (--tablet-l-max) {
        flex-direction: column-reverse;
      }
    }

    @media (--tablet-l-max) {
      padding: 80px 20px; 
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      padding: 0 40px 150px;
      margin: 0 auto;
    }

    picture {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      img {
        @media (--tablet-m) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-left: 40px;
      }

      @media (--desktop-m) {
        align-items: center;
      }
    }

    &Container {
      width: 100%;
      background-image: url('../img/production/ornament.png');
      background-repeat: no-repeat;

      @media (--tablet-l-max) {
        background-size: 400px;
        background-position: calc(100% + 100px) 260px;
      }

      @media (--tablet-l) {
        background-size: 675px;
        background-position: center; 
      }
    }

    &Image {
      max-height: 610px;

      @media (--tablet-max) {
        /* max-width: 580px; */
        max-width: 100%;
      }

      @media (--tablet-m) {
        max-width: 625px;
      }
    }

    &Info {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (--tablet-l-max) {
        max-width: 625px;
        width: 100%;
      }

      @media (--tablet-l) {
        max-width: 580px;
        width: calc(50% - 40px);
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        font-size: 64px;
        line-height: 56px;
      }

      @media (--desktop-m) {
        position: absolute;
        top: 50px;
        left: 95px;
        min-width: max-content;
      }
    }

    &Text {
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: var(--color-white);

      &--mt {
        @media (--tablet-m) {
          margin-top: 40px;
        }

        @media (--desktop-m) {
          margin-top: 140px;
        }
      }
    }

    &--reversed {
      align-items: center;

      @media (--tablet-max) {
        padding-top: 0;
      }

      picture {
        @media (--tablet-l) {
          margin-left: 0;
          margin-right: 40px;
        }
      }

      .productionCraftText {
        margin-top: 0;
      }
    }
  }

  &Technology {
    position: relative;
    &Background {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 1440px;
      width: 100%;
      height: 100%;

      @media (--desktop-xlarge) {
        left: calc((100% - 1440px)/2);
      }

      &Container {
        position: absolute;
        display: flex;
        background-color: var(--color-black);
        background-repeat: no-repeat;
        background-blend-mode: multiply;

        @media (--tablet-l-max) {
          background-size: contain;
        }

        &:before {
            content: '';
            position: absolute;
            opacity: 0.5;
            filter: blur(200px);
        }

        &--first {
          top: -2px;
          left: 0;
          background-image: url('../img/production/step-1.png');

          @media (--tablet-l-max) {
            width: 100%;
            max-width: 465px;
            height: 386px;
          }

          @media (--tablet-l) {
            width: 600px;
            height: 500px;
          }

          &:before {
            top: 0;
            background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
            transform: rotate(59.61deg);
            
            @media (--tablet-l-max) {
              left: 0;
              width: 359.71px;
              height: 307.53px;
            }

            @media (--tablet-l) {
              width: 578px;
              height: 373px;
              left: -100px;
            }
          }
        }

        &--second {
          
          background-image: url('../img/production/step-2.png');

          @media (--tablet-l-max) {
            top: 470px;
            left: -120px;
            width: 335px;
            height: 255px;
          }

          @media (--tablet-l) {
            top: 388px;
            right: 10%;
            width: 410px;
            height: 310px;

            &:before {
              width: 468px;
              height: 303px;
              background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
            }
          }
        }

        &--third {
          background-image: url('../img/production/step-3.png');

          @media (--tablet-l-max) {
            top: 55%;
            right: -45px;
            width: 265px;
            height: 170px;
          }

          @media (--tablet-l) {
            top: 728px;
            left: 10%;
            width: 400px;
            height: 260px;
          }

          &:before {
            background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);

            @media (--tablet-l-max) {
              bottom: 0;
              width: 359.71px;
              height: 307.53px;
              transform: rotate(59.61deg) translateY(25%);
            }

            @media (--tablet-l) {
              width: 592px;
              height: 381px;
            }
          }
        }

        &--fourth {
          background-image: url('../img/production/step-4.png');

          @media (--tablet-l-max) {
            top: 68%;
            left: 45px;
            width: 140px;
            height: 200px;
          }

          @media (--tablet-l) {
            top: 1138px;
            left: 55%;
            width: 185px;
            height: 265px;
          }

          &:before {
            background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);

            @media (--tablet-l-max) {
              width: 359.71px;
              height: 307.53px;
              transform: rotate(59.61deg);
            }

            @media (--tablet-l) {
              width: 390px;
              height: 251px;
            }
          }
        }

        &--fifth {
          background-color: transparent;

          @media (--tablet-l-max) {
            top: 220px;
            left: 50%;
            width: 240px;
            height: 1515px;
            background-image: url('../img/production/wave-m.png');
            transform: translateX(-50%);
          }

          @media (--tablet-l) {
            top: 155px;
            left: 0;
            width: 100%;
            height: 1100px;
            background-image: url('../img/production/wave.png');
          }

          @media (--desktop-large) {
            left: 188px;
            width: 1250px;
          }
        }
      }
    }

    &Container {
      position: relative;
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      z-index: 1;

      @media (--tablet-l-max) {
        padding: 200px 0 100px;
      }

      @media (--tablet-l) {
        padding: 200px 0;
      }

    }

    &Wave {
      position: absolute; 

      @media (--tablet-l-max) {
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (--tablet-l) {
        top: 145px;
        right: 0;
      }
    }

    &List {
      display: flex;
      flex-direction: column;
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;

      @media (--tablet-max) {
        position: relative;
        padding: 0 20px;
        z-index: 2;
      }

      @media (--tablet-m) {
        padding: 0 40px;
      }

      &Container {
        display: flex;

        &--reversed {
          @media (--tablet-l-max) {
            flex-direction: column;
          }

          @media (--tablet-l) {
            flex-direction: row-reverse;
            justify-content: space-between;
          } 
        }

        &--first {
          @media (--tablet-l-max) {
            flex-direction: column;
            margin-bottom: 150px;
          }

          @media (--tablet-l) {
            justify-content: space-between;
            margin-bottom: 170px;
          }
        }

        &--single {
          @media (--tablet-l-max) {
            margin-bottom: 150px;
          }
          

          @media (--tablet-l) {
            justify-content: center;
            margin-bottom: 125px;
          }
        } 
      }

      &Item {
        display: flex;
        width: 100%;

        &--first {
          max-width: 450px;

          @media (--tablet-l) {
            margin-right: 50px;
          }
        }

        &--second {
          max-width: 470px;

          @media (--tablet-l-max) {
            margin-top: 150px;
          }

          @media (--tablet-l) {
            margin-top: 55px;
          }
        }

        &--second,
        &--fourth {
          @media (--tablet-l-max) {
            flex-direction: row-reverse;
            margin-left: auto;

            .productionTechnologyStep {
              margin-right: 0;
              margin-left: 25px;
            }

            .productionTechnologySubtitle,
            .productionTechnologyDescription {
              text-align: right;
            }
          }
        }

        &--third {
          max-width: 465px;
        }

        &--fourth {
          max-width: 470px;
        }

        &--fifth {
          max-width: 555px;
          
          @media (--tablet-l-max) {
            margin-top: 150px;
          }

          @media (--tablet-l) {
            margin-top: 50px;
            margin-right: 50px;
          }
        }
      }
    }

    &Step {
      margin-right: 25px;
      font-family: var(--font-family-base);
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 0.1em;
      color: var(--color-orange);
      opacity: 0.8;
    }

    &Info {

    }

    &Subtitle {
      margin-bottom: 15px;
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      color: var(--color-orange);
    }

    &Description {
      font-family: var(--font-family-base);
      font-size: 24px;
      line-height: 40px;
      color: var(--color-white);
    }
  }
}