.secondScreen {
  width: 100%;

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--main-max-width);
    margin: 0 auto;
    background-image: url('../img/ornament-bg.png'),
                      url('../img/secondScreen-bg.png');
    background-repeat: no-repeat;

    @media (--tablet-max) {
      background-size: 249px 249px;
      background-position: -105px center;
    }

    @media (--tablet-max) {
      padding: 0 20px 150px;
    }

    @media (--tablet-m) {
      background-size: 520px 520px, 958px 686px;
      background-position: right 47%, center center;
    }

    @media (--tablet-m) {
      padding: 0 20px 300px;
    }
  }

  &Title {
    max-width: 840px;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-orange);

    @media (--tablet-max) {
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 48px;
    }

    @media (--tablet-m) {
      margin-bottom: 45px;
      font-size: 80px;
      line-height: 100px;
    }
  }

  &Description {
    max-width: 475px;
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);

    @media (--tablet-max) {
      margin-bottom: 100px;
    }

    @media (--tablet-m) {
      margin-bottom: 75px;
    }
  }

  &Explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--color-orange);
    text-decoration: none;

    svg {
      margin-bottom: 15px;
    }
  }
}