.tequila {

  &FirstScreen {
    &Container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: var(--main-max-width);
      width: 100%;
      margin: 0 auto;
      background-image: url('../img/ornament-bg.png');
      background-repeat: no-repeat;

      @media (--tablet-max) {
        padding: 165px 20px 0;
        background-size: 250px;
        background-position: -80px 270px;
      }

      @media (--tablet-m) {
        padding: 155px 0 0;
        background-size: 523px;
        background-position: 110px 120px;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 356px;
          width: 920px;
          height: 755px;
          background: linear-gradient(89.98deg, #0F080A 13.84%, #3C2C10 36.53%, #503B13 53.25%, #3C2C10 69.17%, #0F080A 90.27%);
          opacity: 0.3;
          filter: blur(200px);
          transform: translateX(-50%);
        }
      }
    }

    &Title {
      max-width: 510px;
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1em;
      color: var(--color-orange);

      @media (--tablet-max) {
        margin-bottom: 40px;
        font-size: 50px;
        line-height: 64px;
      }

      @media (--tablet-m) {
        margin-bottom: 55px;
        font-size: 80px;
        line-height: 100px;

        &--mb20 {
          margin-bottom: 20px;
        }
      }
    }

    &Description {
      max-width: 525px;
      margin-bottom: 55px;
      font-family: var(--font-family-additional);
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.05em;
      color: var(--color-white);
    }

    &Order {
      font-family: var(--font-family-extra);
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      text-decoration: none;
      color: var(--color-orange);

      svg {
        margin-left: 10px;
      }

      &Container {  
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (--tablet-max) {
          order: 2;
        }

        @media (--tablet-m) {
          margin-top: -10px;
        }

        &--mt0 {
          margin-top: 0;
        }
      }
    }
  }

  &Product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 55px;

    @media (--tablet-l-max) {
      background-image: url('../img/products/products-bg-m.png');
      flex-direction: column-reverse;
    }

    @media (--tablet-l) {
      /* background-image: url('../img/products/products-bg.png'); */
    }

    &Container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;

      &--mb40 {
        @media (--tablet-l-max) {
          margin-bottom: 40px;
        }
      }
    }

    &Image {
      max-height: 80vh;

      &--ml70 {
        @media (--tablet-m) {
          margin-left: 70px;
        }
      }
      
      &Container {
        position: relative;
        display: flex;
        justify-content: center;
        transition: all 0.2s ease-out;
        z-index: 1;

        &.swiper-slide {
          opacity: 0;
        }

        &.swiper-slide-active {
          opacity: 1;
        }

        &--mb40 {
          @media (--tablet-l-max) {
            margin-bottom: 40px;
          }

          @media (--tablet-l) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &Size {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (--tablet-l-max) {
        margin-top: 15px;
      }

      @media (--tablet-l) {
        position: absolute;
        left: 40px;
        max-width: 180px;
        z-index: 2;
      }

      @media (--desktop-m) {
        left: 80px;
      }

      &Title {
        margin-bottom: 30px;
        font-family: var(--font-family-base);
        font-weight: bold;
        
        text-align: center;
        color: var(--color-orange);

        @media (--tablet-max) {
          font-size: 28px;
          line-height: 32px;
        }

        @media (--tablet-m) {
          font-size: 24px;
          line-height: 40px;
        }
      }

      &Item {
        width: fit-content;
        font-family: var(--font-family-base);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: var(--color-white);
        background: transparent;
        outline: none;
        border: none;

        &.active {
          padding: 4px 12px;
          color: var(--color-orange);
          border: 1px solid var(--color-orange);
        }

        @media (--tablet-l) {
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &Items {
        display: flex;

        @media (--tablet-l-max) {
          max-width: 290px;
          width: 100%;
          margin: 0 auto 60px;
          justify-content: space-between;
          align-items: center;
        }

        @media (--tablet-l) {
          flex-direction: column;
        }
      }
    }

    &Flowers {
      position: absolute;
      transform: translateX(-50%);
      z-index: 0;
      max-height: 80vh;

      &--mh60vh {
        max-height: 60vh;
      }

      @media (--tablet-l-max) {
        top: 85px;
        left: calc(50% + 10px);

        &--t0 {
          top: 50%;
          transform : translateX(-50%) translateY(-50%);
        }

        &--t-10 {
          top: -10px;
        }
      }

      @media (--tablet-l) {
        top: -45px;
        left: calc(50% + 40px);

        &--t0 {
          top: 50%;
          transform : translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  &Story {
    display: flex;
    justify-content: space-between;
    max-width: var(--main-max-width);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;

    @media (--tablet-l-max) {
      padding: 80px 20px 150px;
      background-image: url('../img/ornament-bg.png');
      background-size: 400px;
      background-position: calc(100% + 100px) 260px; 
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 55px;
      }
    }

    @media (--tablet-l) {
      padding: 250px 40px 300px;
      margin: 0 auto;
      background-image: url('../img/tequila/story-bg.png'),
                      url('../img/ornament-bg.png');
      background-size: 100%, 600px;
      background-position: center 45%, center calc(100% - 160px); 
    }

    picture {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      img {
        @media (--tablet-m) {
          width: 100%;
        }
      }

      @media (--tablet-l) {
        width: calc(50% - 40px);
        margin-right: 40px;
      }

      @media (--desktop-m) {
        align-items: center;
      }
    }

    &Image {
      max-height: 610px;

      @media (--tablet-max) {
        /* max-width: 580px; */
        max-width: 100%;
      }

      @media (--tablet-m) {
        max-width: 625px;
      }
    }

    &Info {
      display: flex;
      flex-direction: column;

      @media (--tablet-l-max) {
        max-width: 625px;
      }

      @media (--tablet-l) {
        max-width: 580px;
        width: calc(50% - 40px);
      }

      @media (--desktop-m) {
        margin-top: 45px;
      }
    }

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        margin-bottom: 40px;
        font-size: 80px;
        line-height: 80px;
      }

      @media (--desktop-m) {
        margin-left: -480px;
      }
    }

    &Text {
      font-family: var(--font-family-base);
      text-align: center;
      color: var(--color-white);
      
      @media (--tablet-max) {
        font-size: 20px;
        line-height: 32px;
      }

      @media (--tablet-m) {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  &Taste {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
      font-family: var(--font-family-base);
      font-weight: bold;
      text-align: center;
      color: var(--color-orange);

      @media (--tablet-max) {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (--tablet-m) {
        margin-bottom: 65px;
        font-size: 56px;
        line-height: 56px;
      }
    }

    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media (--tablet-max) {
        flex-direction: column;
      }

      picture {
        margin: 0 20px 25px;

        @media (--tablet-max) {
          max-width: calc(100% - 40px);

          img {
            max-width: 100%;
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  &Coctail {
    background-repeat: no-repeat;

    @media (--tablet-max) {
      padding: 150px 0 25px;
    }

    @media (--tablet-m) {
      padding: 150px 0 50px;
    }

    @media (--tablet-l-max) {
      background-image: url('../img/tequila/tequila-coctail-bg-m.png');
      background-position: center 70px;
    }

    @media (--tablet-l) {
      padding: 300px 0 160px;
      background-image: url('../img/tequila/tequila-coctail-bg.png');
      background-position: center;
    }

    &Container {
      display: flex;
      flex-direction: column;
      max-width: var(--main-max-width);
      width: 100%;
      margin: 0 auto;
    }

    &Image {
      width: 100%;
    }

    &Content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 100px;

      @media (--tablet-l-max) {
        padding: 0 20px;
        margin-bottom: 30px;
      }

      @media (--tablet-l) {
        padding: 0 40px;
      }

      @media (--desktop-m) {
        flex-direction: row;
      }

      picture {
        @media (--desktop-m) {
          width: calc(50% - 40px);

          img {
            width: 100%;
          }
        }
      }
    }

    &Receipt {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 610px;

      @media (--tablet-l) {
        margin-bottom: 50px;
      }

      @media (--desktop-m) {
        width: calc(50% - 40px);
      }

      @media (--desktop-large) {
        max-width: 565px;
        width: 100%;
      }

      &Title {
        font-family: var(--font-family-base);
        font-weight: bold;
        color: var(--color-orange);

        @media (--tablet-max) {
          margin-bottom: 30px;
          font-size: 40px;
          line-height: 40px;
        }

        @media (--tablet-m) {
          margin-bottom: 50px;
          font-size: 56px;
          line-height: 56px;
        }
      }

      &Subtitle {
        font-family: var(--font-family-base);
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: var(--color-white);

        @media (--tablet-max) {
          margin-bottom: 25px;
        }
      }

      &Text {
        max-width: 330px;
        width: 100%;
        font-family: var(--font-family-additional);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: var(--color-white);

        @media (--desktop-m) {
          max-width: 280px;
        }

        @media (--desktop-large) {
          max-width: 330px;
        }
      }

      &Item {
        display: flex;
        justify-content: space-between;
        border-top: 0.5px solid var(--color-white);

        @media (--tablet-max) {
          flex-direction: column;
          padding: 25px 0;
        }

        @media (--tablet-m) {
          padding: 30px 0;
        }
      }

      &List {
        max-width: 330px;
        width: 100%;

        @media (--desktop-m) {
          max-width: 280px;
        }

        @media (--desktop-large) {
          max-width: 330px;
        }

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &ShowCoctails {
      display: flex;
      align-items: center;
      margin: 0 auto 150px;
      font-family: var(--font-family-extra);
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      text-decoration: none;
      color: var(--color-orange);

      svg {
        margin-left: 10px;
      }

      &--desktop {
        @media (--tablet-l-max) {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @media (--tablet-l-max) {
          display: flex;
          margin: 25px auto 55px;
        }
      }
    }

    &Copyright {
      font-family: var(--font-family-additional);
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1em;
      color: var(--color-white);

      @media (--tablet-max) {
        margin: 0 20px;
      }
    }
  }
}