.textpage {
  &Page {
    position: relative;

    @media (--tablet-max) {
      padding: 220px 20px 100px;
    }
    
    @media (--tablet-m) {
      padding: 200px 40px 150px;
    }

    &:before {
      position: absolute;
      content: '';
      background: linear-gradient(89.98deg, #0F080A 13.84%, #39282D 31.35%, #5B4E4E 47.28%, #56494C 59.22%, #39282D 73.15%, #0F080A 90.27%);
      opacity: 0.2;
      filter: blur(200px);
      border-radius: 100%;
      pointer-events: none;

      @media (--tablet-max) {
        width: 375px;
        height: 517px;
        left: calc((100% - 375px)/2);
        top: 104px;
      }

      @media (--tablet-m) {
        width: 1156px;
        height: 517px;
        left: calc((100% - 1156px)/2);
        top: 42px;
      }
    }

    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        display: block;
        padding: 0 0 40px;
      }
    }
  }

  &Container {
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

    h1 {
      margin-bottom: 15px;
      font-family: var(--color-black);
      font-weight: bold;
      color: var(--color-orange);

      @media (--tablet-max) {
        font-size: 40px;
        line-height: 64px;
      }

      @media (--tablet-m) {
        font-size: 64px;
        line-height: 56px;
      }
    }

    p {
      margin-bottom: 55px;

      &.mb25 {
        margin-bottom: 25px;
      }
    }

    ul {
      list-style: disc;
      padding-left: 15px;
    }

    li {
      margin-bottom: 25px;
    }

    p, 
    li {
      font-family: var(--font-family-additional);
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: var(--color-white);
    }

    h2 {
      margin-bottom: 15px;
      font-family: var(--font-family-base);
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      color: var(--color-orange);
    }

    a {
      font-family: var(--font-family-additional);
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-decoration: none;
      color: var(--color-orange);
    }
  }  
}