:root {
  /*
   * Typography
   * ======================================================================== */

   --font-family-base: 'Bon Vivant Family Serif', Arial, sans-serif;
   --font-family-additional: 'Inter', Arial, sans-serif;
   --font-family-extra: 'Athelas', Arial, sans-serif;

   /*
   * Colors
   * ======================================================================== */

   --color-white: #FFFFFF;
   --color-black: #0F080A;
   --color-black-additional: #07080D;
   --color-orange: #FFA500;

   /*
   * Max-width for main content for 1440px+ width
   * ======================================================================== */
   --main-max-width: 1280px;

}

img[src="../img/map-marker.svg"] {
  border: 5px solid red;
}

/*
* Media queries breakpoints
* ======================================================================== */
@custom-media --mobile-xs (min-width: 320px);
@custom-media --mobile-s (min-width: 375px);
@custom-media --mobile (max-width: 600px);
@custom-media --tablet (min-width: 601px);
@custom-media --tablet-xs (min-width: 700px);
@custom-media --tablet-m (min-width: 769px);
@custom-media --tablet-l (min-width: 900px);
@custom-media --desktop-m (min-width: 1050px);
@custom-media --desktop-large (min-width: 1280px);
@custom-media --desktop-xlarge (min-width: 1440px);

@custom-media --tablet-max (max-width: 768px);
@custom-media --tablet-l-max (max-width: 900px);