@font-face {
	font-family: 'Bon Vivant Family Serif';
	src: url('../fonts/BonVivantSerifBold.woff') format('woff'),
			 url('../fonts/BonVivantSerifBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Bon Vivant Family Serif';
	src: url('../fonts/BonVivantSerif.woff') format('woff'),
			 url('../fonts/BonVivantSerif.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff') format('woff'),
			 url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Athelas';
	src: url('../fonts/AthelasArabic-Bold.woff') format('woff'),
			 url('../fonts/AthelasArabic-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}