.whereToBuy {
  &Page {
    & + .footer {
      background-color: var(--color-black);

      @media (--tablet-max) {
        padding: 0 20px 30px;
      }

      @media (--tablet-m) {
        padding: 0 0 40px;
      }
    }
  }

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    @media (--tablet-max) {
      padding: 200px 40px 40px;
      background-image: url('../img/map-bg-m.png');
    }

    @media (--tablet-m) {
      padding: 200px 40px 60px;
      background-image: url('../img/map-bg.png');
    }
  }

  &Title {
    margin-bottom: 30px;
    font-family: var(--font-family-base);
    font-weight: bold;
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    @media (--tablet-max) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (--tablet-m) {
      font-size: 64px;
      line-height: 56px;
    }
  }

  &Description {
    margin-bottom: auto;
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);
  }

  &Explore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-extra);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-orange);

    svg {
      margin-bottom: 15px;
    }
  }

  &Item {
    max-width: 565px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-sizing: border-box;

    &.active {
      .whereToBuyLocationContainer {
        display: flex;
      }

      .whereToBuyArrow {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    @media (--tablet-max) {
      margin: 0 auto;
      padding: 15px 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    @media (--tablet-m) {
      padding: 40px 0;
      border-bottom: 1.5px solid rgba(255, 165, 0, 0.2); 
      margin-left: 0;
      pointer-events: auto;

      &:last-child {
        border-bottom: none;
      }
    }

    &Container {
      display: flex;
      justify-content: space-between;
    }

    &Country {
      font-family: var(--font-family-base);
      font-weight: bold;
      color: var(--color-orange);

      @media (--tablet-max) {
        width: calc(100% - 60px);
        font-size: 24px;
        line-height: 32px;
      }

      @media (--tablet-m) {
        width: calc(100% - 80px);
        font-size: 40px;
        line-height: 40px;
      }
    }
  }

  &Items {
    position: relative;
    z-index: 1;

    @media (--tablet-max) {
      padding: 90px 20px 100px;
    }

    @media (--tablet-m) {
      padding: 190px 40px 200px;
      pointer-events: none;
    }

    @media (min-width: 1220px) {
      margin-left: calc((100% - 1140px)/2);
    }

    &MapContainer {
      position: relative;
      width: 100%;
      height: fit-content;
    }
  }

  &Arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-orange);
    border-radius: 100%;
    outline: none;

    svg {
      transition: all 0.2s ease-out;

      @media (--tablet-max) {
        width: 10px;
        height: 10px;
      }

      @media (--tablet-m) {
        width: 12px;
        height: 12px;
      }
    }

    @media (--tablet-max) {
      margin-left: 60px;
      min-width: 32px;
      height: 32px;
    }

    @media (--tablet-m) {
      margin-left: 80px;
      min-width: 40px;
      height: 40px;
    }
  }

  &Location {
    font-family: var(--font-family-additional);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--color-white);
    text-decoration: none;

    @media (--tablet-max) {
      margin: 25px 0 0;
    }

    @media (--tablet-m) {
      margin-top: 40px;
    }

    &Container {
      display: none;
      flex-direction: column;
    }
  }
}

#map {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}